<!-- Navi -->
<nav class="globalNav pcOnly">
    <ul id="nav">
        {% set count = 1 %}
        {% for Category in Categories %}
            {#タブレットエスコード非表示#}
            {% if count <=10 and Category.id not in [371,386,14,9,381,377,388,379,374,391,383,558,557,5,16,7,2,19,11,186,185,556,184] %}
                {% set count = count+1 %}
                <li id="nav{{ "%02d"|format(loop.index) }}">
                    {#タブレットエスコード切り分け#}
                    {% if is_granted('ROLE_USER') and  Category.id == 370 %}
                        {% if is_granted('ROLE_USER') and app.user.escort_flg %}
                            <a href="/page/escort_tab">
                            <span class="ico"
                                  style="background: url('{{ app.config.user_data_urlpath }}/category/menu_icon/371.png') no-repeat 50% 50% !important;">&nbsp;</span>
                                <p class="txt">
                                    <span>エスコート<br>タブレット</span>
                                </p>
                                <span class="bar">&nbsp;</span>
                            </a>
                        {% else %}
                            <a href="/page/tab">
                            <span class="ico"
                                  style="background: url('{{ app.config.user_data_urlpath }}/category/menu_icon/371.png') no-repeat 50% 50% !important;">&nbsp;</span>
                                <p class="txt">
                                    <span>タブレット</span>
                                </p>
                                <span class="bar">&nbsp;</span>
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url('product_list') }}?category_id={{ Category.id }}">
                        <span class="ico"
                              style="background: url('{{ app.config.user_data_urlpath }}/category/menu_icon/{{ Category.id }}.png') no-repeat 50% 50% !important;">&nbsp;</span>
                            <p class="txt">
                                <span>{{ Category.name | replace({'住まいの' : '住まいの<br>','食品' : '食品<br>','インテリア' : 'インテリア<br>'}) | raw }}</span>
                            </p>
                            <span class="bar">&nbsp;</span>
                        </a>
                    {% endif %}
                </li>

            {% endif %}
        {% endfor %}
    </ul>
</nav>
<!-- //Navi -->