{% if Products | length %}

    <div class="section suisenSection">
        <h2 class="h_bdr mb40">
            <img src="{{ app.config.front_urlpath }}/img/common/top_h02.png" alt="Recommended おすすめ商品"
                 class="pcOnly">
            <img src="{{ app.config.front_urlpath }}/img/common/sp/top_h02@2x.png" alt="Recommended おすすめ商品"
                 class="spOnly">
        </h2>
        <div class="clm3 cf prod">
            <div id="suisen">
                {% for Product in Products %}
                    <div class="suisenBox {% if Product.IsNewArrival %}newUp{% endif %}">
                        <div class="suisenImg">
                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                <img src="{{ app.config.image_save_urlpath }}/{{ Product.mainFileName|no_image_product }}"
                                     alt="{{ Product.name }}">
                            </a>
                        </div>
                        <p class="suisenName">
                            <strong><a href="{{ url('product_detail', {'id': Product.id}) }}">{{ Product.name }}</a></strong>
                        </p>
                        <p class="suisenPrice">
                        <span class="exclusion">
                        {% if Product.hasProductClass %}
                            {% if Product.getPrice02Min == Product.getPrice02Max %}
                                {{ Product.getPrice02Min|number_format }}円
                            {% else %}
                                {{ Product.getPrice02Min|number_format }}円 ～ {{ Product.getPrice02Max|number_format }}円
                            {% endif %}
                        {% else %}
                            {{ Product.getPrice02Min|number_format }}円
                        {% endif %}
                        </span><br>
                            <span>
                            {% if Product.hasProductClass %}
                                {% if Product.getPrice02Min == Product.getPrice02Max %}
                                    （税込{{ Product.getPrice02IncTaxMin|number_format }}円）
                                {% else %}
                                    （税込{{ Product.getPrice02IncTaxMin|number_format }}円 ～ {{ Product.getPrice02IncTaxMax|number_format }}円）
                                {% endif %}
                            {% else %}
                                （税込{{ Product.getPrice02IncTaxMin|number_format }}円）
                                {% endif %}送料別
                        </span><br/>
                            <span class="maker">{{ Product.Maker.Name }}</span>
                        </p>
                        {% if Product.LongTags | length %}
                            <ul class="pointIcon iconL">
                                {% for Tag in Product.LongTags %}
                                    <li class="iconL">
                                        {{ Tag.TextOrIcon | raw }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if Product.ShortTags | length %}
                            <ul class="pointIcon iconM">
                                {% for Tag in Product.ShortTags %}
                                    <li class="iconM">
                                        {{ Tag.TextOrIcon | raw }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    {% if loop.index % 2 == 0 %}
                        <hr class="spLine">
                    {% endif %}
                    {% if loop.index  % 4 == 0  and (loop.index / 4) < Products|length/4 %}
                        <hr class="pcLine">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
