<footer>
    <div id="info_area">
        <div class="inner cf">
            <div class="clm_l">
                <h3 class="info_h">お支払方法</h3>
                <p>{{ BaseInfo.shop_name }}では、下記決済方法がご利用いただけます。</p>
                <h4 class="info_h2">クレジット決済</h4>
                <p>VISA、MasterCard、JCB、AMERICAN EXPRESS、Diners Club</p>
                <p class="mb30"><img src="{{ app.config.front_urlpath }}/img/common/pay_img01.jpg" alt=""></p>
                <h4 class="info_h2">コンビニ決済(前払い)</h4>
                <p>ローソン(<a href="http://www.well-net.jp/multi/119.html" target="_blank" style="color:#00F ; text-decoration:underline;">Loppi</a>)、ミニストップ(<a href="http://www.well-net.jp/multi/119.html" target="_blank" style="color:#00F ; text-decoration:underline;">Loppi</a>)、ファミリーマート(<a href="http://www.well-net.jp/multi/120.html" target="_blank" style="color:#00F ; text-decoration:underline;">Famiポート</a>)、セイコーマート(<a href="http://www.well-net.jp/multi/210.html" target="_blank" style="color:#00F ; text-decoration:underline;">クラブステーション</a>)、デイリーヤマザキ(<a href="http://www.well-net.jp/multi/122.html" target="_blank" style="color:#00F ; text-decoration:underline;">コンビニPOSレジ</a>)にてお支払いただけます。</p>
                <p class="mb30"><img src="{{ app.config.front_urlpath }}/img/common/convenience_logo.png" alt=""></p>
                <h4 class="info_h2">銀行振込(前払い)</h4>
                <p>三菱UFJ銀行 、三井住友銀行</p>
                <p class="mb30"><img src="{{ app.config.front_urlpath }}/img/common/bank_logo.png" alt=""></p>
            </div>
            <div class="clm_r">
                <h3 class="info_h">お届け時間について</h3>
                <p class="mb50">商品お届け日、時間帯にご希望があればご指定ください。<br>
                    商品によっては選択できない場合があります。<br>
                    詳しくは各詳細ページにてご確認ください。<br>
                    また希望日、時間帯を指定する際には、必ず各商品の納期をご確認ください。</p>
                <h3 class="info_h">配送方法</h3>
                <p>送料は商品ごとに異なりますので、各詳細ページにてご確認ください。</p>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="inner cf mb10">
            <div id="footer_l">
                <p><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/common/logo_{{ BaseInfo.id }}.png" alt=""></a></p>
            </div>
            <div id="footer_r">
                <p id="copy">COPYRIGHT ANABUKI COMMUNITY INC.</p>
            </div>
        </div>
        <ul id="f_navi">
            <li><a href="{{ url('help_guide') }}">ご利用ガイド</a></li>
            <li><a href="{{ url('help_policy') }}">ご利用規約</a></li>
{% if BaseInfo.Id == 2 %}<li><a href="{{ url('help_point') }}">ポイントご利用規約</a></li>{% endif %}
{% if BaseInfo.Id == 3 %}<li><a href="{{ url('help_point') }}">ポイントご利用規約</a></li>{% endif %}
            <li><a href="https://www.anabuki-community.com/privacy/" target="_blank">個人情報保護方針</a></li>
            <li><a href="{{ url('help_tradelaw') }}">特定商取引法表示</a></li>
            <li><a href="{{ url('contact') }}">お問い合わせ</a></li>
        </ul>
    </div>
</footer>