<div id="header">
    <div class="inner cf">
        <div id="header_l">
            <p id="lead">穴吹コミュニティ管理物件のご入居者さま専用WEBショップ＆メンテナンスサービス</p>
            <!-- Sp Navi -->
            <nav class="navBar spOnly">
                <p>ご入居者さま専用WEBショップ&amp;メンテナンスサービス</p>
                <ul>
                    <li class="nav navHome"><a href="{{ url('top') }}"><img
                                    src="{{ app.config.front_urlpath }}/img/common/sp/icon-home.png" alt="ホーム">ホーム</a>
                    </li>
                    <li class="nav navCart"><a href="{{ url('cart') }}"><img
                                    src="{{ app.config.front_urlpath }}/img/common/sp/cart_60x60_v2.png" alt="買い物かご">買い物かご</a>
                    </li>
                    <li class="nav navMenu" id="sideButton"><img
                                src="{{ app.config.front_urlpath }}/img/common/sp/icon-menu.png" alt="メニュー">メニュー
                    </li>
                </ul>
            </nav>
            <!-- //Sp Navi -->
            <!-- Sp Side Menu -->
            <div id="sideMenu">
                <div class="searchArea">
                    <form method="get" action="{{ path('product_list') }}">
                        <input class="brand_search_form" type="search" name="name" maxlength="50" placeholder="キーワードを入力"
                               autocapitalize="off"
                               value="{{ app.request.get('name') }}">
                        <input class="brand_search_button" type="button" name="brand_search_button" value="検索">
                    </form>
                </div>
                <div class="sideNav">
                    <ul>
                        <li><span class="categorySwitch">カテゴリから探す</span>
                            <div class="sideCategory">
                                <ul class="catMenu" id="category_list2">
                                    <li><a href="{{ url('product_list') }}"><span>すべての商品</span></a></li>
                                    {% for Category in Categories %}
                                        {% if Category.id != 371 %}
                                            <li>
                                            {% if is_granted('ROLE_USER') and app.user.escort_flg and  Category.id == 370 %}
                                                <a href="/page/escort"><span>エスコートタブレット</span></a>
                                            {% else %}
                                                <a href="{{ url('product_list') }}?category_id={{ Category.id }}"><span>{{ Category.name }}</span></a>
                                            {% endif %}
                                        {% endif %}

                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </li>
                        <li>
                            <p class="sideNav-title">マイページ</p>
                            <ul class="inner-sideNav">
                                <li class="sub-sideNav"><a href="{{ url('mypage_change') }}">会員情報修正</a></li>
                                <li class="sub-sideNav"><a href="{{ url('mypage') }}">注文履歴</a></li>
                                <li class="sub-sideNav"><a href="{{ url('mypage_point_transaction') }}">ポイント照会</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url('help_faq') }}">よくあるご質問</a></li>
                        <li><a href="{{ url('help_guide') }}">ご利用ガイド</a></li>
                        <li><a href="{{ url('contact') }}">お問い合わせ</a></li>
                        {% if BaseInfo.Id == 1 %}
                            <li><a href="{{ url('surpass_logout') }}">ログアウト</a></li>
                        {% else %}
                            <li><a href="{{ url('logout') }}">ログアウト</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- //Sp Side Menu -->
            <h1 id="logo">
                <a href="{{ url('homepage') }}">
                    <img src="{{ app.config.front_urlpath }}/img/common/logo_{{ BaseInfo.id }}.png"
                         class="M_ShopLogo pcOnly" alt="{{ BaseInfo.shop_name }}">
                    <img src="{{ app.config.front_urlpath }}/img/common/sp/smartphone_logo@2x_{{ BaseInfo.id }}.png"
                         class="spOnly" alt="{{ BaseInfo.shop_name }}">
                </a>
            </h1>
        </div>
        <div id="header_r">
            <div id="header_menu" class="cf">
                <ul>
                    <li><a href="{{ url('help_faq') }}">よくあるご質問</a></li>
                    <li><a href="{{ url('help_guide') }}">ご利用ガイド</a></li>
                    <li><a href="{{ url('contact') }}">お問い合わせ</a></li>
                </ul>
                {% if BaseInfo.Id == 1 %}
                    <p id="logout"><a href="{{ url('surpass_logout') }}">ログアウト</a></p>
                {% else %}
                    <p id="logout"><a href="{{ url('logout') }}">ログアウト</a></p>
                {% endif %}

            </div>
            <div id="header_menu2" class="cf">
                <div id="head_search" class="cf">
                    <form method="get" action="{{ path('product_list') }}">
                        <input type="search" id="MakeShopTopSearchInput" name="name" maxlength="50"
                               placeholder="キーワードを入力" value="{{ app.request.get('name') }}">
                        <input type="image" alt="検索" src="{{ app.config.front_urlpath }}/img/common/ico_search.png"
                               class="submitBtn"/>
                    </form>
                </div>
                <ul id="head_ico">
                    {% if BaseInfo.Id != 1 %}
                        <li id="ico_mypage"><a href="{{ url('mypage') }}"></a></li>
                        <li id="ico_history"><a href="{{ url('mypage') }}"></a></li>
                    {% endif %}
                    <li id="ico_cart" {% if BaseInfo.Id == 1 %} style="float: right !important;" {% endif %}><a
                                href="{{ url('cart') }}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>