{% if is_granted('ROLE_USER') %}
    <div class="account_area">
        <p class="name"><span>{{ app.user }}</span>様</p>
        <div class="point_box">
            <p class="mb05">ご利用可能ポイント<span class="spOnly">：</span></p>
            <p class="point"><span>{{ app.user.point | number_format }}</span> pt</p>
            <p class="btn"><a href="{{ url('logout') }}">ログアウト</a></p>
        </div>
    </div>
{% endif %}
