{% if Banners | length %}
    <ul class="sideBanner {{ Category.level == 1 ? "is_category_level_1" : "" }} category_level_{{ Category.level is null ? 'none' : Category.level }}">
        {% for Banner in Banners %}
            <li><a {% if Banner.LinkMethod %}target="_blank" {% endif %} href="{{ Banner.Link }}"><img
                            src="{{ generate_banner_path(Banner.ImagePath) }}" alt="{{ Banner.Name }}"></a></li>
        {% endfor %}
    </ul>
{% endif %}