<div class="pcOnly">
    <h2 class="h_bdr mb0"><img src="{{ app.config.front_urlpath }}/img/common/side_h01.png" alt="Shop List"></h2>
    <ul id="l_shop_list">
        <li id="l_nav02"><a href="/page/shoplist/repair">住まいのお手入れ</a></li>
        <li id="l_nav03"><a href="/page/shoplist/reform">リフォーム</a></li>
        <li id="l_nav04"><a href="/page/shoplist/rice">お米</a></li>
        <li id="l_nav05"><a href="/page/shoplist/foodanddrink">食品・ドリンク</a></li>
        <li id="l_nav06"><a href="/page/shoplist/sweets">スイーツ</a></li>
        <li id="l_nav07"><a href="/page/shoplist/interior">インテリア・雑貨</a></li>
        <li id="l_nav08"><a href="/page/shoplist/emergency">防災用品</a></li>
        <li id="l_nav09"><a href="/page/shoplist/care">介護・福祉</a></li>
    </ul>
</div>
