{% if NewsList | length %}
    <script type="text/javascript">
        function showNews(id) {
            $('#detail_' + id).toggle();
        }
    </script>


    <!-- お知らせ一覧ここから -->
    <div class="section newsSection">
        <h2 class="h_bdr mb10">
            <img src="{{ app.config.front_urlpath }}/img/common/top_h01.png" alt="News ニュース" class="pcOnly">
            <img src="{{ app.config.front_urlpath }}/img/common/sp/top_h01@2x.png" alt="News ニュース"
                 class="spOnly">
        </h2>
        <div class="news">
            <table>
                <tr>
                    <td>
                        {% for News in NewsList %}
                            <table>
                                <tr>
                                    <td class="woong vt">[{{ News.date|date("Y/m/d") }}]</td>
                                    <td class="woong" style="padding-top: 5px !important;">
                                        <a href="{{ url('news_detail',{id: News.id}) }}" {#onclick="showNews({{ News.id }})"#}>{{ News.title }}</a>
                                        {#
                                                                            {% if News.comment or News.url %}
                                                                                <div id="detail_{{ News.id }}"
                                                                                     class="mt10"
                                                                                     style="display: none;">{{ News.comment|raw|nl2br }}
                                                                                    {% if News.url %}<br>
                                                                                        <a href="{{ News.url }}"
                                                                                           {% if News.link_method == '1' %}target="_blank"{% endif %}>
                                                                                            詳しくはこちら
                                                                                        </a>
                                                                                    {% endif %}
                                                                                </div>
                                                                            {% endif %}
                                        #}
                                    </td>
                                </tr>
                            </table>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <p class="more mt10"><a href="{{ url('news') }}">ニュース一覧へ</a></p>
        </div>
    </div>
    <!-- お知らせ一覧ここまで -->
{% endif %}