{% if ProductRanking | length %}
    <div class="pcOnly">
        <h2 class="h_bdr mb30"><img src="{{ app.config.front_urlpath }}/img/common/side_h02.png" alt="Ranking">
        </h2>
        <div id="ranking">
            {% for Ranking in ProductRanking %}
                <div class="rank_box">
                    <a href="{{ url('product_detail', {'id': Ranking.Product.id}) }}">
                        <p class="rank">
                            <img src="{{ app.config.front_urlpath }}/img/common/rank{{ loop.index }}.jpg"
                                 alt="No.0{{ loop.index }}">
                        </p>
                        <p class="mb05">
                            <img src="{{ app.config.image_save_urlpath }}/{{ Ranking.Product.mainFileName|no_image_product }}"
                                 alt="{{ Ranking.Product.name }}">
                        </p>
                        <p>{{ Ranking.Product.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
