{% if Products | length %}
    <div class="section seasonalLimited">
        <h2 class="h_bdr mb40">
            <img src="{{ app.config.front_urlpath }}/img/common/top_h05.png" alt="Seasonal Limited 季節限定商品"
                 class="pcOnly">
            <img src="{{ app.config.front_urlpath }}/img/common/sp/top_h05@2x.png" alt="Seasonal Limited 季節限定商品"
                 class="spOnly">
        </h2>
        <div class="clm3 cf prod mb40">
            <div id="special">
                {% for Product in Products %}
                    <div class="specialBox {% if Product.IsNewArrival %}newUp{% endif %}">
                        <div class="specialImg">
                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                <img src="{{ app.config.image_save_urlpath }}/{{ Product.mainFileName|no_image_product }}"
                                     alt="{{ Product.name }}"/>
                            </a>
                        </div>
                        <div class="specialMeta">
                            <p class="specilaName">
                                <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                    <span>{{ Product.name }}</span>
                                </a><br/>
                                <span class="exclusion">
                                {% if Product.hasProductClass %}
                                    {% if Product.getPrice02Min == Product.getPrice02Max %}
                                        {{ Product.getPrice02Min|number_format }}円
                                    {% else %}
                                        {{ Product.getPrice02Min|number_format }}円 ～ {{ Product.getPrice02Max|number_format }}円
                                    {% endif %}
                                {% else %}
                                    {{ Product.getPrice02Min|number_format }}円
                                {% endif %}
                            </span>
                                <span class="price">
                                {% if Product.hasProductClass %}
                                    {% if Product.getPrice02Min == Product.getPrice02Max %}
                                        （税込{{ Product.getPrice02IncTaxMin|number_format }}円）
                                    {% else %}
                                        （税込{{ Product.getPrice02IncTaxMin|number_format }}円 ～ {{ Product.getPrice02IncTaxMax|number_format }}円）
                                    {% endif %}
                                {% else %}
                                    （税込{{ Product.getPrice02IncTaxMin|number_format }}円）
                                    {% endif %}送料別
                            </span>
                                <span class="maker">{{ Product.Maker.Name }}</span></p>
                            <ul class="pointIcon">
                                {% for Tag in Product.Tags %}
                                    {% if not Tag.IsShort %}
                                        <li class="iconL">
                                            {{ Tag.TextOrIcon | raw }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% for Tag in Product.Tags %}
                                    {% if Tag.IsShort %}
                                        <li class="iconM">
                                            {{ Tag.TextOrIcon | raw }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
