{% if Banners | length %}
    <div class="gray_bg">
        <div id="main">
            <div id="slide">
                <ul id="M_slider">
                    <li class="M_sliderFirstImage"></li>
                    {% for Banner in Banners %}
                        <li><a {% if Banner.LinkMethod %}target="_blank" {% endif %} href="{{ Banner.Link }}"><img
                                        src="{{ generate_banner_path(Banner.ImagePath) }}" alt="{{ Banner.Name }}"></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}