.container-error .page-heading{
  font-size: 1.5rem;
}

.container-error .info_h2 {
    background: url(../img/common/ico_arrow02.png) no-repeat 0 50%;
    font-weight: bold;
    padding: 0 0 0 25px;
}
.container-error > div{
  margin: 0 16px;
  font-size: 14px;
}
.container-error p{
  font-size: 14px;
}
.container-error a[href^="tel:"] {
    cursor: default;
}
