@charset "EUC-JP";

/*
基本文字等設定は一番下
*/
/*
ーーーーーー
初期設定
ーーーーーー
*/
#cp{text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
#cp a{text-decoration: none;display:inline-block;}
#cp a:hover img,
#cp a:hover {opacity: .5;-webkit-opacity: .5;-moz-opacity: .5;filter: alpha(opacity=50);-ms-filter: "alpha(opacity=50)"}
#cp a img{-webkit-transition: opacity 1s ease-out;-moz-transition: opacity 1s ease-out;-ms-transition: opacity 1s ease-out;transition: opacity 1s ease-out;}
#cp ul{font-size: 0;display: flex;flex-wrap: wrap; justify-content: space-between}
#cp ul li{font-size: 13px;}
#cp p{margin: 0}
#cp h3{margin-bottom: 15px}
#cp .txt_brown{color:#743d29;}

/*
ーーーーーー
レイアウト
ーーーーーー
*/
/*.com/.netパンくず*/
#shoppan{color:#743d29;}
#shoppan a{color:#743d29;text-decoration: underline }
#shoppan a:hover{color:#743d29;text-decoration: none}

/*タブ*/
#cp #tab1 li,#cp #tab2 li,#cp #tab3 li{display: inline-block;position: relative;}
#cp #tab1.cl4 li,#cp #tab2.cl4 li,#cp #tab3.cl4 li{width: 25%;padding: 4px;}/*4列メニュー*/
#cp #tab1.cl3 li,#cp #tab2.cl3 li,#cp #tab3.cl3 li{width: 33%;padding: 4px;}/*3列メニュー*/
#cp #tab1.cl2 li,#cp #tab2.cl2 li,#cp #tab3.cl2 li{width: 50%;padding: 4px;}/*2列メニュー*/
#cp #tab1 li a,#cp #tab2 li a,#cp #tab3 li a{width: 100%;display: block;padding: 20px 0;background: #fff;text-decoration: none;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;}
#cp #tab1 li:after,#cp #tab2 li:after,#cp #tab3 li:after{	content: "";  position: absolute;  bottom: -10px;  right: 0px;  left: 0;  margin: auto; width: 6px;  height: 6px;  border: 1px solid;  border-color:  transparent transparent #EE7993 #EE7993;  transform: rotate(-45deg);}

@media screen and (max-width:736px) {
	#cp #tab1.cl4 li,#cp #tab2.cl4 li,#cp #tab3.cl4 li{width: 50%;padding: 4px;margin-bottom: 20px;}/*4列メニュー*/
	#cp #tab1.cl3 li a,#cp #tab2.cl3 li a,#cp #tab3.cl3 li a{padding: 10px 0;font-size: 10px;line-height: 1.4;}

}
/*コンテンツ白枠*/
#cp .cpblock{background: #fff;padding: 20px;border-bottom: 1px solid #BD9E89;margin-bottom: 40px;}

@media screen and (max-width:736px) {
	.anchorLink {padding-top: 67px;margin-top: -67px}
}

/*shop用*/
/*#cp .cpblock h3{font-size: 20px;padding: 10px; color: #fff; background-image: url(/data/imgupload/h3_bg.png);position:relative;}*/
/*くらし用*/
#cp .cpblock h3{font-size: 20px;padding: 10px; color: #fff; background-image: url(/template/default/img/common/h3_bg.png);position:relative;}

/*コンテンツタイトル*/
#cp .cpblock h3:before{  content: "";  position:absolute;  top:0;  left:0;  width:0;  height:0;  border-style: solid; border-color: #fff transparent transparent transparent;  border-width: 20px 20px 0 0px;}
#cp .cpblock h3:after{  content: "";  position:absolute;  top:0;  right:0;  width:0;  height:0;  border-style: solid; border-color: #fff transparent transparent transparent;  border-width: 20px 0px 0 20px;}


/*カテゴリ*/
#cp #list_cate1 li,#cp #list_cate2 li{display: inline-block;margin-right: 2%;margin-bottom: 2%; background:#F8F4EB;border: 1px dashed #4F2815;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;overflow: hidden;}
#cp #list_cate1 li a,#cp #list_cate2 li a{padding: 20px 0;}
#cp #list_cate1 .photo,#cp #list_cate2 .photo{position: relative;margin-bottom: 10px}
#cp #list_cate1 .photo img,#cp #list_cate2 .photo img{width: 100%;height: auto; margin: auto;}
/*shop用*/
/*#cp #list_cate .waku{background: url(/data/imgupload/waku_cate_photo.png) no-repeat center center;width: 100%;height: 100%;position: absolute;left: 0;top: 0}*/
/*くらし用*/
#cp #list_cate1 .waku,#cp #list_cate2 .waku{background: url(/template/default/img/common/waku_cate_photo.png) no-repeat center center;width: 100%;height: 100%;position: absolute;left: 0;top: 0}
@media screen and (max-width:736px) {
	#cp #list_cate1 .waku,#cp #list_cate2 .waku{background-size: 188%;}
}

#cp #list_cate1 p,#cp #list_cate2 p{margin-bottom: 0}
#cp #list_cate1.cl3 li,#cp #list_cate2.cl3 li{width: 32%;}/*3列*/
#cp #list_cate1.cl3 li:nth-child(3n),#cp #list_cate2.cl3 li:nth-child(3n){margin-right: 0}
#cp #list_cate1.cl2 li,#cp #list_cate2.cl2 li{width: 49%;}/*2列*/
#cp #list_cate1.cl2 li:nth-child(2n),#cp #list_cate2.cl2 li:nth-child(2n){margin-right: 0}
#cp #list_cate1.cl2 .photo,#cp #list_cate1.cl2 p,#cp #list_cate2.cl2 .photo,#cp #list_cate2.cl2 p{display: inline-block;vertical-align: middle;/*width: 44%;*/ width: 120px; margin-bottom: 0px;}
#cp #list_cate1.cl2 .photo img,#cp #list_cate2.cl2 .photo img{width: 100%;height: auto;}
#cp #list_cate1.cl2 .waku,#cp #list_cate2.cl2 .waku{background-size:230%}

/*ボタン*/
/*shop用*/
/*#cp .bbt{background: #E74D55;color: #fff;padding:6px 0;width: 130px;margin: 10px auto; border-radius: 100px;-webkit-border-radius: 100px;-moz-border-radius: 100px;font-size: 11px}*/
/*くらし用*/
#cp .bbt{background: #E74D55;color: #fff;padding:12px 0;width: 100%;max-width:130px;  margin: 10px auto; border-radius: 100px;-webkit-border-radius: 100px;-moz-border-radius: 100px;font-size: 11px}

/*共通で使える？3列+2列のリスト・・5個限定*/
#cp .list_common3_2 li{display: inline-block; margin-bottom: 2%;position: relative;background:#F8F4EB;vertical-align: top;}
#cp .list_common3_2 li:nth-child(1),#cp .list_common3_2 li:nth-child(2),#cp .list_common3_2 li:nth-child(3){width: 32%;}
#cp .list_common3_2 li:nth-child(4),#cp .list_common3_2 li:nth-child(5){width: 49%}
#cp .list_common3_2 .photo img{width: 100%;height: auto}
#cp .list_common3_2 li .rank{position: absolute;left: 0;top: 0;width: auto;height: auto;}
#cp .list_common3_2 li:nth-child(4) .photo,#cp .list_common3_2 li:nth-child(5) .photo,
#cp .list_common3_2 li:nth-child(4) .txtarea,#cp .list_common3_2 li:nth-child(5) .txtarea{width: 49%;display: inline-block;vertical-align: top}

@media screen and (max-width:736px) {
	#cp .list_common3_2 li:nth-child(1){width: 100%}
	#cp .list_common3_2 li:nth-child(2),#cp .list_common3_2 li:nth-child(3){width: 49%;}
	#cp .list_common3_2 li:nth-child(4) .photo, #cp .list_common3_2 li:nth-child(5) .photo, #cp .list_common3_2 li:nth-child(4) .txtarea, #cp .list_common3_2 li:nth-child(5) .txtarea{width: 100%;display: inline-block;vertical-align: top}
	#cp .list_common3_2 li:nth-child(1) a{width: 100%;display: flex;}
	#cp .list_common3_2 li:nth-child(1) .photo{width:50%}
	#cp .list_common3_2 li:nth-child(1) .txtarea{width:50%;}
}

/*共通で使える？1列+3列のリスト・・4個限定*/
#cp .list_common1_3 li{display: inline-block;margin-bottom: 2%; position: relative; background:#F8F4EB;vertical-align: top}
#cp .list_common1_3 li:nth-child(1){width:100%;}
#cp .list_common1_3 li:nth-child(2),#cp .list_common1_3 li:nth-child(3),#cp .list_common1_3 li:nth-child(4){width: 32%}
#cp .list_common1_3 li:nth-child(4){margin-right: 0}
#cp .list_common1_3 li:nth-child(1) .photo,#cp .list_common1_3 li:nth-child(1)  .txtarea{width: 50%;float: left;vertical-align: top;}
#cp .list_common1_3 .photo img{width: 100%;height: auto; }


@media screen and (max-width:736px) {
	#cp .list_common1_3 li a{width: 100%;display: flex;}
	#cp .list_common1_3 li .photo{width:50%}
	#cp .list_common1_3 li .txtarea{width:50%;}
	#cp .list_common1_3 li:nth-child(1) a{width: 100%;display: block;}
	#cp .list_common1_3 li:nth-child(1) .photo{width:100%}
	#cp .list_common1_3 li:nth-child(1) .txtarea{width:100%;}
	#cp .list_common1_3 li:nth-child(1) .photo,#cp .list_common1_3 li:nth-child(1)  .txtarea{width: 100%;float: none;vertical-align: top; margin-bottom: 10px;}
	#cp .list_common1_3 li:nth-child(2),#cp .list_common1_3 li:nth-child(3),#cp .list_common1_3 li:nth-child(4){width: 100%}
}

/*基本文字等設定*/

/*ピンク*/
#cp.cp_pink{}
#cp.cp_pink #tab1 li a,#cp.cp_pink #tab2 li a,#cp.cp_pink #tab3 li a{border: 1px solid #EE7993;color: #EE7993;}
#cp.cp_pink #tab1 li:after,#cp.cp_pink #tab2 li:after,#cp.cp_pink #tab3 li:after{border-bottom-color:#EE7993; border-left-color:#EE7993}
#cp.cp_pink .cpblock h3{background-color: #EE7993}
#cp.cp_pink .list_common1_3 li .catch{ font-weight:bold;color: #EE7993;}

/*青*/
#cp.cp_blue{}
#cp.cp_blue #tab1 li a,#cp.cp_blue #tab2 li a,#cp.cp_blue #tab3 li a{border: 1px solid #1CC2C1;color: #1CC2C1;}
#cp.cp_blue #tab li:after,#cp.cp_blue #tab2 li:after,#cp.cp_blue #tab3 li:after{border-bottom-color:#1CC2C1; border-left-color:#1CC2C1}
#cp.cp_blue .cpblock h3{background-color: #1CC2C1}
#cp.cp_blue .list_common1_3 li .catch{ font-weight:bold;color: #1CC2C1;}
#cp.cp_blue #tab1 li:after,#cp.cp_blue #tab2 li:after,#cp.cp_blue #tab3 li:after{	border-color:  transparent transparent #1CC2C1 #1CC2C1;  transform: rotate(-45deg);}


/*茶*/
#cp.cp_brown{}
#cp.cp_brown #tab1 li a,#cp.cp_brown #tab2 li a,#cp.cp_brown #tab3 li a{border: 1px solid #753D26;color: #753D26;}
#cp.cp_brown #tab1 li:after,#cp.cp_brown #tab2 li:after,#cp.cp_brown #tab3 li:after{border-bottom-color:#753D26; border-left-color:#753D26}
#cp.cp_brown .cpblock h3{background-color: #753D26}
#cp.cp_brow .list_common1_3 li .catch{ font-weight:bold;color:#753D26;}
#cp.cp_brow #tab1 li:after,#cp.cp_brow #tab2 li:after,#cp.cp_brow #tab3 li:after{	border-color:  transparent transparent #753D26 #753D26;  transform: rotate(-45deg);}

/*緑・黒に近い紺*/
#cp.cp_green{}
#cp.cp_green #tab1 li a,#cp.cp_green #tab2 li a,#cp.cp_green #tab3 li a{border: 1px solid #6DBE63;color: #6DBE63;}
#cp.cp_green #tab1 li:after,#cp.cp_green #tab2 li:after,#cp.cp_green #tab3 li:after{border-bottom-color:#753D26; border-left-color:#6DBE63}
#cp.cp_green .cpblock h3{background-color: #6DBE63}
#cp.cp_green .list_common1_3 li .catch{ font-weight:bold;color:#6DBE63;}
#cp.cp_green #tab1 li:after,#cp.cp_green #tab2 li:after,#cp.cp_green #tab3 li:after{	border-color:  transparent transparent #6DBE63 #6DBE63;  transform: rotate(-45deg);}

/*黒に近い紺*/
#cp.cp_dnavy{}
#cp.cp_dnavy #tab1 li a,#cp.cp_dnavy #tab2 li a,#cp.cp_dnavy #tab3 li a{border: 1px solid #04315F;color: #04315F;}
#cp.cp_dnavy #tab1 li:after,#cp.cp_dnavy #tab2 li:after,#cp.cp_dnavy #tab3 li:after{border-bottom-color:#04315F; border-left-color:#04315F}
#cp.cp_dnavy .cpblock h3{background-color: #04315F}
#cp.cp_dnavy .list_common1_3 li .catch{ font-weight:bold;color:#04315F;}
#cp.cp_dnavy #tab1 li:after,#cp.cp_dnavy #tab2 li:after,#cp.cp_dnavy #tab3 li:after{	border-color:  transparent transparent #04315F #04315F;  transform: rotate(-45deg);}

@media screen and (max-width:736px) {
	#cp {
		margin-bottom: 60px;
	}
}
