@charset "utf-8";

/* CSS Document */

/* -----------------------------------------------------------------
   reset
----------------------------------------------------------------- */

html {overflow-y: scroll;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,th,td {margin: 0;padding: 0;}
img{border: 0;vertical-align:bottom;}
li {list-style-type: none;}
table{border-collapse:collapse; }

html,body{height: 100%;}

body{
    background: #fff;
    color:#333;
    text-align:center;  
    font-size: 15px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
    line-height:1.6;
}

p{
    text-align: left;
}

#M_imageWrap{
    width: 100%;
    box-sizing: border-box;
    padding: 24px 24px 64px 24px;
    display: table;
    table-layout: fixed;
}

div#M_imageHeader {
    text-align: center;
    background-color: #606060;
    color: #fff;
    padding: 6px;
}

#M_mainImage{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#M_mainImage img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#M_imageCatalog{
    text-align: left;
    vertical-align: top;
    display: table-cell;
    max-height: 600px;
    padding-left: 16px;
}

.M_imageCatalogList{
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

#M_imageCatalog li {
    width: 58px;
    height: 58px;
    text-align: center;
    box-sizing: border-box;
}

#M_imageCatalog img{
    max-width:56px;
    width: auto;
    max-height: 56px;
    height: auto;
    margin: 0 auto;
}

#M_imageWrap[class="center-middle"], #M_imageWrap[class="center-middle"] #M_mainImage#M_mainImage{
   height: 550px;
}

/* 下部レイアウト */

#M_imageWrap.M_imageBottom{
    display: block;
    width: 100%;
}

.M_imageBottom #M_mainImage{
    width: 100%;
    display: table;
    table-layout: fixed;
}

.M_imageBottom #M_mainImage div{
    display: table-cell;
    vertical-align: middle;
    height: 600px;
}

.M_imageBottom #M_mainImage img{
    max-height: 600px;
}

.M_imageBottom #M_imageCatalog{
    max-width: 100%;
    width: 100%;
    max-height: 310px;
    margin: 24px auto 0;
    padding: 0;
    text-align: center;
    display: block;
}

.M_imageBottom .M_imageCatalogList{
    display: block;
    width: 580px;
	margin: auto;
    text-align: center;
}

.M_imageBottom .M_imageCatalogList:nth-child(n+2){
	text-align: left;
}

.M_imageBottom #M_imageCatalog li{
    display: inline-block;
}

/* footer */

div#M_imageFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    font-size: 12px;
    color: #737373;
    background-color: #F2F2F2;
    padding: 8px;
    width: 100%;
    margin-top: 32px;
    box-sizing: border-box;
}

div#M_imageFooter p#M_close {
    float: right;
}
