html {
	font-size: 62.5%;
}
body {
	font-size: 1.4rem;
}
#lead {
	font-size: 83%;
}
#contents, #header, #footer, .pagetop {
	-webkit-transform: inherit;
	-moz-transform: inherit;
	-ms-transform: inherit;
	-o-transform: inherit;
	transform: inherit;
	will-change: inherit;
	padding: 0;
}
#main {
	margin-bottom: 20px;
	font-size: 1.6rem;
	padding: 20px 0 60px;
	max-width: none;
	text-align: left;
}
.page-heading {
	font-weight: 500;
	text-align: left;
	letter-spacing: 0.15em;
	color: #743d29;
	border-bottom: 2px solid #743d29;
	font-size: 2rem;
	font-weight: bold;
}
.flowline ul::before {
	background: #ebe6dc;
}
.flowline li {
	color: #743d29;
}
.flowline li.active {
	color: #de8998;
}
.flowline li.active .flow_number {
	background: #de8998;
	color: #fff;
}
.flowline.step4 ul,
.flowline.step5 ul{
	max-width: 800px;
}
.flowline.step4 ul li,
.flowline.step5 ul li{
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 1.4;
	padding: 0 2%;
	white-space: normal;
}
.flowline li .flow_number {
	background: #ebe6dc;
	color: #743d29;
}
div.table ol li {
	background: #ebe6dc;
	color: #743d29;
	white-space: nowrap
}
.cart_item .icon_edit a .cb {
	fill: #743d29;
}
.cart_item .item_box > .td {
	border-bottom: 1px solid #743d29;
}
.cart_item .item_box .table .item_name a {
	font-weight: normal;
}
.item_price {
	font-weight: bold;
}
.cart_item .item_quantity ul li span {
	border: 2px solid #bb9477;
}
.cart_item .item_quantity ul li span .cb {
	fill: #bb9477;
}
.cart_item .item_quantity ul li a {
	border: 2px solid #743d29;
}
.cart_item .item_quantity ul li a .cb {
	fill: #743d29;
}
.total_box dl {
	font-weight: normal;
}
.total_box dl.total_price dt {
	font-weight: normal;
}
.btn:link,
.btn:visited {
	color: #fff;
}
.btn-primary {
	background: #de8998;
	border: 1px solid #de8998;
	border-radius: 5px;
	-webkit-transition: all .25s ease-in;
	transition: all .25s ease-in;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #de8998;
	border: 1px solid #de8998;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
}
.btn-info {
	background: #743d29;
	border: 1px solid #743d29;
	border-radius: 5px;
	-webkit-transition: all .25s ease-in;
	transition: all .25s ease-in;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
	background: #743d29;
	border: 1px solid #743d29;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
}
#shopping_confirm .cart_item.table {
	border-top: 1px solid #743d29;
}
.btn-default {
	background: #743d29;
	border: 1px solid #743d29;
	border-radius: 5px;
	-webkit-transition: all .25s ease-in;
	transition: all .25s ease-in;
	color: #fff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	background: #743d29;
	border: 1px solid #743d29;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	color: #fff;
}
#shopping_confirm .heading02 {
	color: #743d29;
	background: #ebe6dc;
}
#shopping_confirm .total_box {
	background: #ebe6dc;
}
#shopping_confirm .total_box .total_amount {
	border-top: 1px solid #743d29;
}
#shopping_confirm .form-group.form-group {
    font-weight: bold;
    padding-bottom: 20px;
}
#shopping_confirm .form-group.form-group:last-of-type {
    padding-bottom: 0;
}
#shopping_confirm .form-group.form-group.input_tel {
    padding-bottom: 20px;
}
#shopping_confirm .form-group.form-group.input_tel input {
	width: 25%;
}
#shopping_confirm .form-group.form-group.customer-email {
    padding-bottom: 20px;
}
.form-inline label:first-child + input,
.column .form-inline input {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	background: #f3f0ea;
	font-weight: normal;
	margin: 10px 10px 10px 0;
	max-width: 100%;
}
.form-inline label:first-child + select,
.column .form-inline select {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	background: url("../img/common/arrow02.png") no-repeat 98% 50% #f3f0ea;
	padding: 0 30px 0 12px;
	font-weight: normal;
	margin: 10px 10px 10px 0;
	max-width: 100%;
}
#customer_detail_box .form-group.input_zip input, #customer_detail_box .form-group.input_tel input {
	background: none;
	border: 1px solid #C4CCCE;
	font-weight: bold;
}
.column .form-inline select::-ms-expand {
  display: none;
}
.form-inline .btn-default {
	margin: 10px 0;
}
#shipping_confirm_box--0 h3 {
	margin-bottom: 24px;
}
#multiple_list__add_button0 {
	margin-top: 1em;
}
.shipping_multiple_table {
	background: #ebe6dc;
}
#multiple_list__item--0 {
	border-bottom: none;
}
.dl_table {
	border-top: 1px solid #743d29;
}
.dl_table dt, .dl_table dd {
	border-bottom: 1px solid #ccc;
}
.dl_table dl:last-of-type dt, .dl_table dl:last-of-type dd {
	border-bottom: 1px solid #743d29;
}
select.form-control {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	background: url("../img/common/arrow02.png") no-repeat 95% 50% #f3f0ea;
	padding: 0 30px 0 12px;
}
select.form-control::-ms-expand {
  display: none;
}
#detail_box__button_menu {
	margin-top: 25px;
}
.inner #main {
	padding: 0;
}
.form-inline .form-group {
	max-width: 100%;
}
.form-group.input_zip .question-circle {
	line-height: 12px;
}
#detail_box__zip a,
#top_box__zip a {
	text-decoration: underline;
}
#top_box__footer,
#confirm_box__button_menu {
	margin: 25px auto 0;
	width: 40%;
	float: none;
}
#top_box__confirm_button {
	width: 100%;
	margin: 0;
}
.local_nav ul {
	background: none;
	display: table;
	width: 100%;
}
.local_nav li {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.4;
	background: #ebe6dc;
}
.mypage .local_nav li {
	width: 16.7%;
}
.mypage .local_nav li:last-child {
	width: 16.5%;
}
.local_nav li a {
	color: #743d29;
	-webkit-transition: all .25s ease-in;
	transition: all .25s ease-in;
	text-overflow: inherit;
	white-space: normal;
	height: 60px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 0 10px;
	text-align: center;
}
.local_nav li.active a {
	color: #e3515b;
}
.local_nav li a:hover {
	background: #ebe6dc;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
}
.mypage .message {
	border-bottom: 1px solid #743d29;
}
.mypage #welcome_message.message {
	border-bottom: none;
}
.mypage #welcome_message.message p {
	font-weight: bold;
	font-size: 1.6rem;
	color: #743d29;
}
.mypage #welcome_message.message p span {
	color: #e3515b;
}
.mypage .pointTableWrap {
	overflow: auto;
	white-space: nowrap;
}
.mypage .pointTableWrap {
	padding-bottom: 5px;
}
.mypage .pointTableWrap::-webkit-scrollbar {
	height: 10px;
}
.mypage .pointTableWrap::-webkit-scrollbar-track {
	margin: 0 2px;
	background: #ccc;
	border-radius: 5px;
}
.mypage .pointTableWrap::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #999;
}
.mypage .pointTableWrap th {
	color: #743d29;
	font-weight: bold;
	font-size: 1.6rem;
	text-align: center;
	padding: 18px 16px;
	vertical-align: middle;
	background: #ebe6dc;
}
.mypage .pointTableWrap td {
	font-size: 1.6rem;
	text-align: center;
	padding: 18px 10px;
	vertical-align: middle;
}
.historylist_column {
	border-top: 1px solid #743d29;
}
.historylist_column .order_date {
	font-weight: bold;
}
#history_list__body dl {
	margin-bottom: 20px;
}
#history_list__body dt {
	font-weight: normal;
}
.historylist_column .item_box .item_photo {
	min-width: 144px;
}
.order_detail dt {
	font-weight: normal;
}
.surpassLogo {
	max-width: 210px;
	margin: 0;
	width: 22%;
}
#login_box .column {
	background: #ebe6dc;
}
#login_box .column .btn_area p {
	float: none;
	margin: 0 auto;
}
#mypage_login_box .login-info {
	margin: 0 auto 20px;
}
#login_box .column p {
	margin: 0 0 16px;
}
#login_box .column .form-group {
	padding: 0;
	text-align: center;
}
#login_box .column input[type="text"], #login_box .column input[type="email"], #login_box .column input[type="password"] {
	width: 50%;
	margin: 0 auto 20px;
}
#mypage_login_box .login-info .layout-col {
	width: 50%;
	margin: 0 auto;
}
#mypage_login_box .login-info .layout-col table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	margin: 0 auto;
}
#mypage_login_box .login-info .layout-col th {
	padding: 10px 0;
	border-top: 1px solid #aea597;
	border-bottom: 1px solid #aea597;
	border-left: 1px solid #aea597;
	color: #ae9e83;
	font-weight: bold;
	background: #fff;
	text-align: center;
	width: 40%;
}
#mypage_login_box .login-info .layout-col td {
	padding: 10px 0;
	border: 1px solid #aea597;
	background: #fff;
	text-align: center;
	width: 60%;
}
.cart.is-visible {
	text-align: left;
	line-height: 1.4;
}
#cart .inner {
	background: #ebe6dc;
}
.cart .item_box {
	border-bottom: 1px solid #743d29;
}
.cart .item_box .item_name,
.cart .item_box .item_price {
	line-height: 1.4;
}
.btn_circle {
	background: #fafaf2;
	color: #743d29;
}
#footer {
	border: none;
}
#info_area {
	font-size: 1.3rem;
}
#coupon_button {
	background: #743d29;
	border: 1px solid #743d29;
	border-radius: 5px;
	color: #fff;
}
@media screen and (max-width:768px) {
	#shopping_confirm .total_box .total_amount p.total_price strong {
		font-size: 2rem;
		margin-left: 8px;
	}
	.local_nav li a {
		font-size: 1.4rem;
	}
	#multiple_list__button_menu .btn-primary,
	#multiple_list__button_menu .btn-info {
		font-size: 1.2rem;
	}
}
@media screen and (max-width:736px) {
	body {
		margin-top: 67px;
	}
	#main {
		padding: 20px 3% 60px 3%;
	}
	.page-heading {
		border-top: none;
	}
	.flowline.step4 ul li,
	.flowline.step5 ul li{
		font-size: 10px;
	}
	.mypage .local_nav li {
		width: 50%;
	}
	.mypage .local_nav li:last-child {
		width: 50%;
	}
	.mypage #welcome_message.message p {
		font-size: 1.4rem;
	}
	.mypage .pointTableWrap th {
		font-size: 1.4rem;
	}
	.mypage .pointTableWrap td {
		font-size: 1.4rem;
	}
	.cart_item .item_detail .item_subtotal {
		font-size: 14px;
	}
	.total_box dl.total_price dd {
		font-size: 16px;
	}
	#shopping_confirm .cart_item.table {
		margin-bottom: 10px;
	}
	#shopping_confirm #customer_detail_box .form-group.form-group {
		padding-bottom: 10px;
	}
	.column.is-edit > p {
		font-size: 1.4rem;
		line-height: 1.4;
	}
	#multiple_list__shipping_address--0_0 {
		margin: 25px 0;
	}
	.dl_table dt, .dl_table dd {
		border: none;
	}
	.dl_table dl {
		border-bottom: 1px solid #ccc;
	}
	.dl_table dl:last-of-type {
		border-bottom: 1px solid #743d29;
	}
	.dl_table dl:last-of-type dt, .dl_table dl:last-of-type dd {
		border-bottom: none;
	}
	#history_list__total_count {
		margin: 10px 0 15px;
	}
	#mypage_login_box .login-info .infoBox {
		width: 90%;
		display: block;
		margin: 0 auto;
	}
	#mypage_login_box .login-info .layout-col {
		width: 100%;
		margin: 0 0 10px;
	}
	#login_box .column input[type="text"], #login_box .column input[type="email"], #login_box .column input[type="password"] {
		width: 90%;
	}
	.form-inline label {
		margin: 0 10px 0 0;
		width: 90px;
		display: inline-block;
	}
	.form-inline.input_tel .form-control {
		max-width: none;
		width: 25%;
	}
	#info_area {
		font-size: 1.4rem;
	}
	#top_box__footer,
	#confirm_box__button_menu {
		margin: 25px auto 0;
		width: 90%;
	}
	#front_plugin_coupon_shopping_coupon_use label {
		width: 100%;
	}
	#point_box__info .btn {
		display: block;
		width: 42%;
		max-width: 130px;
	}
}