{% extends 'default_frame.twig' %}

{% set menus = ['content', 'banner'] %}

{% block title %}バナー管理{% endblock %}

{% block main %}
    <div class="row">
        <div id="master_edit" class="col-md-12">
            <div id="master_edit_box" class="box">
                <div id="master_edit_box__header" class="box-header">
                    <h3 class="box-title">バナー管理</h3>
                </div>
                <!-- /.box-header -->
                <div id="master_edit_box__body" class="box-body">
                    <div class="pull-right">
                        <a href="{{ url('admin_setting_banner_new') }}"
                           class="btn btn-primary  btn-sm">バナー登録</a><br><br>
                    </div>

                    <div class="extra-form clearfix">
                        <table class="table table-bordered  ">
                            <tr>
                                <th>バナー</th>
                                <th>内容</th>
                                <th>開始日</th>
                                <th>終了日</th>
                                <th>設置場所</th>
                                <th>詳細</th>
                            </tr>
                            {% for BannerPosition in BannerPositions %}
                                <tr>
                                    <th colspan="6" class="bg-primary">{{ BannerPosition }}</th>
                                </tr>
                                {% set count = 0 %}
                                {% for Banner in Banners %}
                                    {% if Banner.BannerPosition == BannerPosition %}
                                        {% set count = count+ 1 %}
                                        <tr>
                                            <td width="300">
                                                <img style="max-width: 200px;"
                                                     src="{{ generate_banner_path(Banner.ImagePath) }}"
                                                     alt="{{ Banner.name }}">
                                            </td>

                                            <td width="300">
                                                {{ Banner.name }}
                                                <br>
                                                <small>{{ Banner.caption }}</small>
                                            </td>
                                            <td>
                                                {% if Banner.StartDate %}
                                                    {{ Banner.StartDate |date("Y/m/d H:i") }}
                                                {% endif %}
                                            </td>

                                            <td>
                                                {% if Banner.EndDate %}

                                                    {{ Banner.EndDate |date("Y/m/d H:i") }}
                                                {% endif %}

                                            </td>

                                            <td>
                                                {{ Banner.BannerPosition }}
                                            </td>
                                            <td width="100">
                                                <a href="{{ url('admin_setting_banner_edit', { id: Banner.Id }) }}"
                                                   class="btn btn-xs btn-primary">編集</a>
                                                <a href="{{ url('admin_setting_banner_delete', {'id' : Banner.Id}) }}" {{ csrf_token_for_anchor() }}
                                                   data-method="delete" data-message="バナーを削除してもよろしいですか？"
                                                   class="btn btn-xs btn-danger">削除</a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% if count <= 0 %}
                                    <tr>
                                        <td colspan="6" class="text-center valignM">
                                            <br>
                                            バナーが見つかりません
                                            <br><br>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                        <br>


                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="text-center">
                <a href="{{ url('admin_setting_banner') }}">バナー管理画面に戻る</a>
            </div>
        </div>

    </div>

{% endblock %}
