{% extends 'default_frame.twig' %}

{% set menus = ['content', 'campaign'] %}

{% block title %}キャンペーン管理{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <form action="?" class="form-horizontal h-adr">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">キャンペーン名称</label>
                            <div class="col-sm-6">
                                <input type="text" name="campaign_name" class="form-control"
                                       value="{{ app.request.get('campaign_name') }}">
                            </div>
                            <div class="col-sm-4">
                                <label for="campaign_end_flg">
                                    <input type="checkbox" name="campaign_end_flg"
                                           id="campaign_end_flg"
                                           value="1" {{ app.request.get('campaign_end_flg') == 1 ?'checked':'' }}>
                                    終了したキャンペーンを表示
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">キャンペーン期間</label>
                            <div class="col-sm-4">
                                <input type="date" name="start_date" class="form-control"
                                       value="{{ app.request.get('start_date') }}">
                            </div>
                            <div class="col-sm-4">
                                <input type="date" name="end_date" class="form-control"
                                       value="{{ app.request.get('end_date') }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-4">
                                <button class="btn btn-info">検索</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">キャンペーン一覧</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="pull-right">
                        <a href="{{ url('admin_setting_campaign_new') }}"
                           class="btn btn-primary  btn-sm">キャンペーン登録</a><br><br>
                    </div>

                    <div class="extra-form clearfix">
                        <table class="table table-bordered  ">
                            <tr>
                                <th>キャンペーン名称</th>
                                <th>キャンペーン期間</th>
                                <th class="text-center">サーパスショップ（契約者）</th>
                                <th class="text-center">サーパスショップ（入居者）</th>
                                <th class="text-center">くらしスクエアショップ</th>
                                <th></th>
                            </tr>
                            {% for Campaign in Campaigns %}
                                <tr>
                                    <td width="300">{{ Campaign.CampaignName }}</td>
                                    <td>
                                        {{ Campaign.StartDate |date("Y/m/d H:i") }}〜<br>
                                        {{ Campaign.EndDate |date("Y/m/d H:i") }}
                                    </td>
                                    <td class="text-center valignM">
                                        {% if Campaign.Shop1Flg %}
                                            対象
                                        {% else %}
                                            対象外
                                        {% endif %}
                                    </td>
                                    <td class="text-center valignM">
                                        {% if Campaign.Shop2Flg %}
                                            対象
                                        {% else %}
                                            対象外
                                        {% endif %}
                                    </td>
                                    <td class="text-center valignM">
                                        {% if Campaign.Shop3Flg %}
                                            対象
                                        {% else %}
                                            対象外
                                        {% endif %}
                                    </td>

                                    <td width="100">
                                        <a href="{{ url('admin_setting_campaign_edit', { id: Campaign.Id }) }}"
                                           class="btn btn-xs btn-primary">詳細</a>
                                        <a href="{{ url('admin_setting_campaign_delete', {'id' : Campaign.Id}) }}" {{ csrf_token_for_anchor() }}
                                           data-method="delete" data-message="キャンペーンを削除してもよろしいですか？"
                                           class="btn btn-xs btn-danger">削除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br>


                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>

{% endblock %}
