{% extends 'default_frame.twig' %}

{% set menus = ['content', 'campaign'] %}

{% block title %}キャンペーン管理{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">対象事業所・物件設定</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="margin-bottom: 20px;">

                        <a href="#" data-toggle="modal" data-target="#searchOfficeModal"
                           class="btn btn-primary">事業所・物件選択</a>
                        <a href="{{ url('admin_setting_campaign_real_estate_clear_list',{campaign_id:Campaign.id}) }}"
                           class="btn btn-default" token-for-anchor="{{ Campaign.id }}" data-method="delete"
                           data-message="対象事業所・物件リストをクリアしてもよろしいですか？">事業所・物件クリア</a>
                    </div>
                    {% if Offices.total %}
                        <form action="?" id="searchForm">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <div class="form-group-lg">
                                            <input type="hidden" name="page" value="1">
                                            <input type="text" class="form-control"
                                                   name="q"
                                                   value="{{ app.request.get('q') }}"
                                                   placeholder="事業所コード・事業所名・物件登録番号・jnet組合コード・物件名">
                                        </div>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <button type="submit" class="btn btn-default btn-lg">検索</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    {% endif %}
                    <br>

                    <table class="table table-bordered">
                        <tr>
                            <td colspan="3">{{ Offices.total }}件中{{ Offices.display }}件表示します。</td>
                        </tr>
                        <tr>
                            <th>事業所</th>
                            <th>物件</th>
                            <th></th>

                        </tr>
                        {% for Office in Offices.data %}
                            <tr>
                                <td>
                                    {{ Office.office_name }}<br>
                                    事業所コード :{{ Office.office_no }}
                                </td>
                                <td>
                                    {{ Office.real_estate_name }}<br>
                                    {% if(Office.jnet_code) %}
                                        <div class="pull-right">jnet組合コード：{{ Office.jnet_code }}</div>
                                    {% endif %}
                                    物件登録番号 :{{ Office.real_estate_no }}
                                </td>
                                <td class="text-center" width="100">
                                    <a href="{{ url('admin_setting_campaign_real_estate_delete',{campaign_id:Campaign.id,id:Office.id}) }}"
                                       class="btn btn-danger" token-for-anchor="{{ Office.id }}" data-method="delete"
                                       data-message="対象事業所・物件を削除してもよろしいですか？">削除</a>
                                </td>
                            </tr>

                        {% endfor %}

                        {% if Offices.total <= 0 %}
                            <tr>
                                <td colspan="3">データがありません。</td>
                            </tr>
                        {% endif %}
                    </table>
                    {% if Offices.total %}
                        <div class="text-center">
                            <ul class="pagination">
                                {% for i in range(1, Offices.totalPage) %}
                                    {% if i == Offices.page %}
                                        <li class="active"><a onclick="goToPage1({{ i }})" href="#">{{ i }}</a></li>
                                    {% else %}
                                        <li><a onclick="goToPage1({{ i }})" href="#">{{ i }}</a></li>
                                    {% endif %}

                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                </div>
                <!-- /.box-body -->
            </div>

            <!-- /.box -->
            <div class="row hidden-xs hidden-sm">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                    <p><a href="{{ url('admin_setting_campaign_edit',{id:Campaign.id}) }}">キャンペーン登録画面に戻る</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        function goToPage1(page) {
            $("#searchForm input[name=page]").val(page);
            $("#searchForm").submit();
        }

        function goToPage(page) {
            $("#searchOfficeModalForm input[name=page]").val(page);
            $("#searchOfficeModalForm").submit();
        }

        function selectAll() {
            window.location.href = "{{ url('admin_setting_campaign_real_estate_select_all',{campaign_id:Campaign.id}) }}?" + $("#searchOfficeModalForm").serialize();

        }

        $(document).ready(function () {
            $("#searchOfficeModalForm").submit(function (e) {
                e.preventDefault();
                var $btn = $("#searchOfficeModalButton").button('loading')
                $.get('{{ url('admin_setting_campaign_real_estate_search') }}', $(this).serializeArray(), function (data) {
                    $("#searchOfficeModalList").html(data);
                    $("#searchOfficeModalList input[name=campaign_id]").val('{{ Campaign.id }}');
                    $btn.button('reset');
                });
            });
        });
    </script>
{% endblock %}

{% block modal %}
    <div class="modal" id="searchOfficeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                class="modal-close" aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">事業所・物件検索</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="searchOfficeModalForm">
                        <input type="hidden" name="page" value="1">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">事業所コード</label>
                            <div class="col-sm-10">
                                <input type="text" name="office_no" class="form-control" placeholder="事業所コード">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">事業所名</label>
                            <div class="col-sm-10">
                                <input type="text" name="office_name" class="form-control" placeholder="事業所名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">物件登録番号</label>
                            <div class="col-sm-10">
                                <input type="text" name="real_estate_no" class="form-control" placeholder="物件登録番号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">jnet組合コード</label>
                            <div class="col-sm-10">
                                <input type="text" name="jnet_code" class="form-control" placeholder="jnet組合コード">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">物件名</label>
                            <div class="col-sm-10">
                                <input type="text" name="real_estate_name" class="form-control" placeholder="物件名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" id="searchOfficeModalButton" data-loading-text="データ準備中…"
                                        class="btn btn-primary">検索
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="form-group" id="searchOfficeModalList"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
