<hr>
<button type="button" onclick="selectAll()" class="btn btn-info">検索結果を全件登録</button><br><br>
<table class="table table-bordered">
    <tr>
        <td colspan="3">検索結果{{ RealEstates.total }}件が該当しました。</td>
    </tr>
    {% if RealEstates.total %}
        <tr>
            <th>事業所</th>
            <th>物件</th>
            <th></th>
        </tr>
        {% for RealEstate in RealEstates.data %}
            <tr>
                <td>
                    {{ RealEstate.office_name }}<br>
                    事業所コード :{{ RealEstate.office_no }}
                </td>
                <td>
                    {{ RealEstate.real_estate_name }}<br>
                    {% if(RealEstate.jnet_code) %}
                        <div class="pull-right">jnet組合コード：{{ RealEstate.jnet_code }}</div>
                    {% endif %}
                    物件登録番号 :{{ RealEstate.real_estate_no }}
                </td>
                <td width="50">
                    <form method="POST" action="{{ url('admin_setting_campaign_real_estate_register') }}">
                        <input type="hidden" name="office_no" value="{{ RealEstate.office_no }}">
                        <input type="hidden" name="real_estate_no" value="{{ RealEstate.real_estate_no }}">
                        <input type="hidden" name="campaign_id">
                        <button class="btn btn-primary">決定</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
{% if RealEstates.total %}

    <div class="text-center">
        <ul class="pagination">
            {% for i in range(1, RealEstates.totalPage) %}
                {% if i == RealEstates.page %}
                    <li class="active"><a onclick="goToPage({{ i }})" href="#">{{ i }}</a></li>
                {% else %}
                    <li><a onclick="goToPage({{ i }})" href="#">{{ i }}</a></li>
                {% endif %}

            {% endfor %}
        </ul>
    </div>
{% endif %}
