{% extends 'default_frame.twig' %}

{% set menus = ['content', 'campaign'] %}

{% block title %}キャンペーン管理{% endblock %}
{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    {% if form.vars.value.OfficeSelectFlg and Campaign.Id and real_estate_count == 0 %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning">
                    対象事業所が登録されていません。
                </div>
            </div>
        </div>
    {% endif %}

    {% if form.vars.value.ProductSelectFlg and Campaign.Id and product_count == 0 %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning">
                    対象商品が設定されていません。
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <form name="form1" role="form" class="form-horizontal h-adr" method="post" action=""
              enctype="multipart/form-data">
            <span class="p-country-name" style="display:none;">Japan</span>
            {{ form_widget(form._token) }}
            <div class="col-md-9">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">基本情報編集</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        {{ form_row(form.campaign_name) }}
                        {{ form_row(form.start_date) }}
                        {{ form_row(form.end_date) }}
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">キャンペーン種別</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-7">
                                <table class="table table-bordered">
                                    <tr id="campaign_type1">
                                        <th width="50" class="text-center valignM">
                                            <input class="campaign_type" type="radio"
                                                   value="1"
                                                   name="admin_campaign[campaign_type]"
                                                   {% if Campaign.CampaignType == 1 %}checked{% endif %} >
                                        </th>
                                        <td class="valignM" width="150">ポイント倍率</td>
                                        <td class="valignM">
                                            {{ form_widget(form.point_rate) }}
                                            {{ form_errors(form.point_rate) }}
                                        </td>
                                        <td class="text-center valignM" width="50">倍</td>
                                    </tr>
                                    <tr id="campaign_type2">
                                        <th class="text-center">
                                            <input class="campaign_type" type="radio" value="2"
                                                   name="admin_campaign[campaign_type]"
                                                   {% if Campaign.CampaignType == 2 %}checked{% endif %} >
                                        </th>
                                        <td class="valignM">固定ポイント</td>
                                        <td class="valignM">
                                            {{ form_widget(form.point_amount) }}
                                            {{ form_errors(form.point_amount) }}

                                        </td>
                                        <td class="text-center valignM">pt</td>
                                    </tr>
                                    <tr id="campaign_type3">
                                        <th class="text-center valignM">
                                            <input class="campaign_type" type="radio" value="3"
                                                   name="admin_campaign[campaign_type]"
                                                   {% if Campaign.CampaignType == 3 %}checked{% endif %} >
                                        </th>
                                        <td class="valignM">割引額</td>
                                        <td class="valignM">
                                            {{ form_widget(form.discount_amount) }}
                                            {{ form_errors(form.discount_amount) }}

                                        </td>
                                        <td class="text-center valignM">円</td>
                                    </tr>
                                    <tr id="campaign_type0">
                                        <th class="text-center valignM">
                                            <input class="campaign_type" type="radio" value="4"
                                                   name="admin_campaign[campaign_type]"
                                                   {% if Campaign.CampaignType == 4 %}checked{% endif %} >
                                        </th>
                                        <td class="valignM">送料無料</td>
                                        <td class="valignM"></td>
                                        <td class="valignM"></td>
                                    </tr>
                                    <tr>
                                        <th class="text-center valignM">
                                            <input class="campaign_type" type="radio" value="0"
                                                   name="admin_campaign[campaign_type]"
                                                   {% if Campaign.CampaignType == 0 %}checked{% endif %} >
                                        </th>
                                        <td>なし</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                </div>
                <!-- /.box -->
                <div class="row hidden-xs hidden-sm">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                        <p><a href="{{ url('admin_setting_campaign') }}">キャンペーン一覧に戻る</a></p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">対象ショップ</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        {% if Campaign.id %}
                            {{ Campaign.Shop1Flg ?'<div>■　サーパスショップ（契約者）</div>'|raw:'' }}
                            {{ Campaign.Shop2Flg ?'<div>■　サーパスショップ（入居者）</div>'|raw:'' }}
                            {{ Campaign.Shop3Flg ?'<div>■　くらしスクエアショップ</div>'|raw:'' }}
                            <div class="hidden">
                                <div>
                                    {{ form_widget(form.shop1_flg) }}
                                </div>
                                <div>
                                    {{ form_widget(form.shop2_flg) }}
                                </div>
                                <div>
                                    {{ form_widget(form.shop3_flg) }}
                                </div>
                            </div>
                        {% else %}
                            <div>
                                {{ form_widget(form.shop1_flg) }}
                            </div>
                            <div>
                                {{ form_widget(form.shop2_flg) }}
                            </div>
                            <div>
                                {{ form_widget(form.shop3_flg) }}
                            </div>
                        {% endif %}
                        <strong>
                            {{ form_errors(form.shop1_flg) }}
                        </strong>
                    </div>
                </div>

                <div class="col_inner">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" type="submit">登録</button>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <div class="text-center">
                                        {{ form_widget(form.office_select_flg) }}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="text-center">
                                    {% if Campaign.id %}
                                        {{ Campaign.ProductSelectFlg ?'■　対象商品指定':'■　全商品対象' }}
                                        <div class="hidden">
                                            {{ form_widget(form.product_select_flg) }}
                                        </div>
                                    {% else %}
                                        {{ form_widget(form.product_select_flg) }}
                                    {% endif %}

                                </div>
                            </div>

                        </div>
                    </div>

                    {% if form.vars.value.OfficeSelectFlg and Campaign.Id %}
                        <div class="box no-header">
                            <div class="box-body">
                                <a class="btn btn-default btn-block"
                                   href="{{ url('admin_setting_campaign_office_select',{'id': Campaign.Id}) }}">対象事業所・物件設定</a>
                                <br>
                                登録事業所・物件数 : {{ real_estate_count }} 件
                            </div>
                        </div>
                    {% endif %}
                    {% if form.vars.value.ProductSelectFlg and Campaign.Id %}
                        <div class="box no-header">
                            <div class="box-body">
                                <a class="btn btn-default btn-block"
                                   href="{{ url('admin_setting_campaign_product_select',{'id': Campaign.Id}) }}">対象商品設定</a>
                                <br>
                                登録商品数 : {{ product_count }} 件
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- /.col -->
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function changeCampaignType() {
            $(".campaign_type").each(function () {
                var $parent = $(this).parent().parent();
                if (!$(this).prop('checked')) {
                    $parent.find('td').addClass('bg-gray');
                    $parent.find('td input').prop('readonly', true);
                } else {
                    $parent.find('td').removeClass('bg-gray');
                    $parent.find('td input').prop('readonly', false);
                }
            })
        }

        $(document).ready(function () {
            changeCampaignType();
            $(".campaign_type").change(function () {
                changeCampaignType();
            })

            {% if Campaign.Id is null %}
            if (!$("#admin_campaign_start_date_time_hour").val()) {
                $("#admin_campaign_start_date_time_hour").val(0)
            }
            if (!$("#admin_campaign_start_date_time_minute").val()) {
                $("#admin_campaign_start_date_time_minute").val(0)
            }
            if (!$("#admin_campaign_end_date_time_hour").val()) {
                $("#admin_campaign_end_date_time_hour").val(23)
            }
            if (!$("#admin_campaign_end_date_time_minute").val()) {
                $("#admin_campaign_end_date_time_minute").val(59)
            }
            {% endif %}

        })
    </script>

{% endblock %}
{% block stylesheet %}
    <style>
        .bg-gray {
            background-color: #cccccc !important;
        }
    </style>
{% endblock %}
