{% extends 'default_frame.twig' %}

{% set menus = ['setting', 'shop', 'shop_point'] %}

{% block title %}ショップ設定{% endblock %}
{% block sub_title %}ポイント設定{% endblock %}

{% block main %}
    <form role="form" class="form-horizontal" name="form1" id="form1" method="post"
          action="{{ url('admin_setting_shop_point_edit') }}">
        <div class="row" id="aside_wrap">
            <div id="detail_wrap" class="col-md-9">
                <div id="detail_box" class="box">
                    <div id="detail_box__header" class="box-header">
                        <h3 class="box-title">ポイント設定</h3>
                    </div><!-- /.box-header -->
                    <div id="detail_box__body" class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">基本ポイント付与率</label>
                            <div class="col-sm-9 col-lg-10">
                                <input type="number" name="point_basic_rate" class="form-control"
                                       value="{% if config.point_basic_rate is defined %}{{ config.point_basic_rate }}{% endif %}"
                                       required max="100" min="1" maxlength="">
                                <div class="help-block"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">ポイント換算レート</label>
                            <div class="col-sm-9 col-lg-10">
                                <input type="number" name="point_conversion_rate" class="form-control"
                                       value="{% if config.point_conversion_rate is defined %}{{ config.point_conversion_rate }}{% endif %}"
                                       required min="1">
                                <div class="help-block"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">ポイント端数計算方式</label>
                            <div class="col-sm-9 col-lg-10">
                                <select name="point_round_type" class="form-control">
                                    <option {% if config.point_round_type is defined and config.point_round_type == 0 %}selected{% endif %}
                                            value="0">切り捨て
                                    </option>
                                    <option {% if config.point_round_type is defined and config.point_round_type == 1 %}selected{% endif %}
                                            value="1">切り上げ
                                    </option>
                                    <option {% if config.point_round_type is defined and config.point_round_type == 2 %}selected{% endif %}
                                            value="2">四捨五入
                                    </option>
                                </select>
                                <div class="help-block"></div>
                            </div>
                        </div>


                    </div><!-- /.box-body -->
                </div><!-- /.box -->
                <div id="detail_list__back_button" class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                        <p><a href="{{ url('admin_setting_shop_payment') }}">一覧に戻る</a></p>
                    </div>
                </div>

            </div><!-- /.col -->

            <div id="detail_list_footer" class="col-md-3">
                <div class="col_inner" id="aside_column">
                    <div id="detail_list_footer__body" class="box no-header">
                        <div id="detail_list_footer__body_inner" class="box-body">
                            <div id="detail_list_footer__insert_button" class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" type="submit">登録</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div><!-- /.col -->

        </div>
    </form>


{% endblock %}