{% extends 'default_frame.twig' %}

{% set menus = ['content', 'admin_setting_ranking'] %}

{% block title %}ランキング商品管理{% endblock %}
{% block sub_title %}ランキング商品内容設定{% endblock %}
{% form_theme searchProductModalForm 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheet %}
    <style type="text/css">
        .item_list .item_box .item_photo {
            padding-left: 0px;
        }

        .sortable_list .icon_sortable {
            top: auto;
            position: relative;
            margin: auto;
            vertical-align: middle;
        }

        .table_list tr > th, .table_list tr > td {
            border-left: none;
        }

        .ui-sortable-helper {
            display: table;
        }
    </style>

{% endblock stylesheet %}
{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var oldRanks = [];
            // 画面の中のrank一覧を保持
            $("div.item_list .item_box").each(function () {
                oldRanks.push(this.dataset.rank);
            });
            // reverse sort
            oldRanks.sort(function (a, b) {
                return a - b;
            }).reverse();

            $("div.item_list").sortable({
                items: '.item_box',
                cursor: 'move',
                update: function (e, ui) {
                    $("body").append($('<div class="modal-backdrop in"></div>'));
                    updateRank();
                }
            });

            var updateRank = function () {
                // 並び替え後にrankを更新
                var newRanks = {};
                var i = 0;
                $("div.item_list .item_box").each(function () {
                    newRanks[this.dataset.rankingId] = oldRanks[i];
                    i++;
                });
                $.ajax({
                    url: '{{ url('admin_setting_ranking_rank_move') }}',
                    type: 'POST',
                    data: newRanks
                }).done(function (data) {
                    $(".modal-backdrop").remove();
                }).fail(function (data) {
                    alert('Error!!');
                    $(".modal-backdrop").remove();
                });
            };
        })
    </script>
    <script>
        $(function () {
            $('#showSearchProductModal').on('click', function () {
                var tbody = $('#searchProductModalList tbody');
                tbody.children().remove();
                $('div.box-footer').remove();
            });
            $('#searchProductModalButton').on('click', function () {
                var list = $('#searchProductModalList');
                list.children().remove();
                $.ajax({
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        'id': $('#admin_search_product_id').val(),
                        'category_id': $('#admin_search_product_category_id').val()
                    },
                    url: '{{ url('admin_setting_ranking_search_product') }}',
                    success: function (data) {
                        // モーダルに結果を書き出し.
                        $('#searchProductModalList').html(data);
                    },
                    error: function () {
                        alert('Search product failed.');
                    }
                });
            });
        });
    </script>

{% endblock javascript %}

{% block main %}
    <form name="search_form" id="search_form" method="post" action="">
        <div class="row">
            <div class="col-md-12">
                <div class="text-danger">※ショップにより非公開の商品は非表示となり、順位が繰り上がります。</div>
                <br>
                <div id="sortable_list" class="box">
                    <div class="box-header with-arrow">
                        <h3 class="box-title"><span class="normal"><strong>{{ total_item_count }}
                                    件</strong> が該当しました</span></h3>


                    </div><!-- /.box-header -->

                    {% if pagination %}
                        <div id="sortable_list_box" class="box-body no-padding no-border">
                            <div class="sortable_list">
                                <div class="item_list">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                            {% for ProductRanking in pagination %}
                                                <tr class="item_box tr" data-rank="{{ loop.index }}"
                                                    data-ranking-id="{{ ProductRanking.id }}">
                                                    <td width="10" class="icon_sortable td">
                                                        <svg class="cb cb-ellipsis-v">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 xlink:href="#cb-ellipsis-v"></use>
                                                        </svg>
                                                    </td>
                                                    <td class="valignM text-nowrap text-center" width="50">{{ loop.index }}位</td>
                                                    <td width="10" id="product_image" class="item_photo td">
                                                        <img src="{{ app.config.image_save_urlpath }}/{{ ProductRanking.Product.mainFileName|no_image_product }}"/>
                                                    </td>
                                                    <td class="product_name">
                                                        {{ ProductRanking.Product.name }}
                                                        <br>
                                                        {{ ProductRanking.Product.code_min }}
                                                        {% if ProductRanking.Product.code_min != ProductRanking.Product.code_max %} ～ {{ ProductRanking.Product.code_max }}
                                                        {% endif %}
                                                    </td>
                                                    <td class="valignM">
                                                        {% if ProductRanking.Product.Status.Id == 1 %}
                                                            サーパスショップ（契約者)：{{ ProductRanking.Product.StatusShop1 }}<br>
                                                            サーパスショップ（入居者)：{{ ProductRanking.Product.StatusShop2 }}<br>
                                                            くらしスクエアショップ 　：{{ ProductRanking.Product.StatusShop3 }}
                                                        {% else %}
                                                            <div class="text-info">
                                                                サーパスショップ（契約者)：非公開<br>
                                                                サーパスショップ（入居者)：非公開<br>
                                                                くらしスクエアショップ 　：非公開
                                                            </div>
                                                        {% endif %}
                                                    </td>
                                                    <td width="10" class="icon_edit">
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                                <svg class="cb cb-ellipsis-h">
                                                                    <use xlink:href="#cb-ellipsis-h"/>
                                                                </svg>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                <li>
                                                                    <a href="{{ url('admin_setting_ranking_delete', {'id' : ProductRanking.id}) }}" {{ csrf_token_for_anchor() }}
                                                                       data-method="delete"
                                                                       data-message="{{ 'admin.product.ranking.delete.confirm'|trans }}">削除</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    {% endif %}
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                <a id="showSearchProductModal" class="btn btn-default btn-block btn-lg"
                   data-toggle="modal" data-target="#searchProductModal">商品追加</a>

            </div>
        </div>
    </form>
{% endblock %}

{% block modal %}
    {#
    // =======================================
    // 商品検索モーダル ダイアログ表示
    // =======================================
    #}
    <div class="modal" id="searchProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                class="modal-close" aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">商品検索</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ form_widget(searchProductModalForm.id, { attr : { placeholder : '商品名・ID・商品コード' } } ) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(searchProductModalForm.category_id) }}
                    </div>
                    <div class="form-group">
                        <button type="button" id="searchProductModalButton" class="btn btn-primary">検索</button>
                    </div>
                    <div class="form-group" id="searchProductModalList">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
