{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% set mypageno = 'change' %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}
    <h1 class="page-heading">マイページ/会員情報</h1>
    <div id="detail_wrap" class="container-fluid">
        {% include 'Mypage/navi.twig' %}
        <div id="detail_box" class="row">
            <div id="detail_box__body" class="col-md-10 col-md-offset-1">
                {#<form method="post" action="{{ url('mypage_change') }}" class="h-adr">#}
                {#<span class="p-country-name" style="display:none;">Japan</span>#}
                {#{{ form_widget(form._token) }}#}
                <div id="detail_box__body_inner" class="dl_table">
                    <dl id="detail_box__name">
                        <dt>
                            {#{{ form_label(form.name) }}#}
                            お名前
                        </dt>
                        <dd class="form-group input_name">
                            {#{{ form_widget(form.name.name01) }}#}
                            {#{{ form_widget(form.name.name02) }}#}
                            {#{{ form_errors(form.name.name01) }}#}
                            {#{{ form_errors(form.name.name02) }}#}
                            {{ Customer.name01 }}
                            {{ Customer.name02 }}
                        </dd>
                    </dl>
                    <dl id="detail_box__kana">
                        <dt>
                            {#{{ form_label(form.kana) }}#}
                            お名前(ふりがな)
                        </dt>
                        <dd class="form-group input_name">
                            {#{{ form_widget(form.kana.kana01) }}#}
                            {#{{ form_widget(form.kana.kana02) }}#}
                            {#{{ form_errors(form.kana.kana01) }}#}
                            {#{{ form_errors(form.kana.kana02) }}#}
                            {{ Customer.kana01 }}
                            {{ Customer.kana02 }}

                        </dd>
                    </dl>
                    {#<dl id="detail_box__company_name">#}
                    {#<dt>{{ form_label(form.company_name) }}</dt>#}
                    {#<dd class="form-group input_name">#}
                    {#{{ form_widget(form.company_name) }}#}
                    {#{{ form_errors(form.company_name) }}#}
                    {#</dd>#}
                    {#</dl>#}
                    <dl id="detail_box__address_detail">
                        <dt>
                            {#{{ form_label(form.address) }}#}
                            住所
                        </dt>
                        <dd>
                            {#<div id="detail_box__zip"#}
                            {#class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>#}
                            {#<div id="detail_box__address"#}
                            {#class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">#}
                            {#{{ form_widget(form.address) }}#}
                            {#{{ form_errors(form.address) }}#}
                            {#</div>#}
                            〒{{ Customer.zip01 }}-{{ Customer.zip02 }}<br>
                            {{ Customer.pref }}<br>
                            {{ Customer.addr01 }}<br>
                            {{ Customer.addr02 }}

                        </dd>
                    </dl>
                    <dl id="detail_box__tel">
                        <dt>
                            {#{{ form_label(form.tel) }}#}
                            電話番号
                        </dt>
                        <dd>
                            <div class="form-inline form-group input_tel">
                                {#{{ form_widget(form.tel, {attr : {class : 'short'}}) }}#}
                                {#{{ form_errors(form.tel) }}#}
                                {{ Customer.tel01 }}-{{ Customer.tel02 }}-{{ Customer.tel03 }}
                            </div>
                        </dd>
                    </dl>
                    {#<dl id="detail_box__fax">#}
                    {#<dt>{{ form_label(form.fax) }}</dt>#}
                    {#<dd>#}
                    {#<div class="form-inline form-group input_tel">#}
                    {#{{ form_widget(form.fax, {attr : {class : 'short'}}) }}#}
                    {#{{ form_errors(form.fax) }}#}
                    {#</div>#}
                    {#</dd>#}
                    {#</dl>#}
                    <dl id="detail_box__email">
                        <dt>
                            {#{{ form_label(form.email) }}#}
                            メールアドレス
                        </dt>
                        <dd>
                            <div class="form-inline form-group input_email">
                                {{ Customer.email }}
                            </div>

                            {#{% for emailField in form.email %}#}
                            {#<div class="form-group {% if emailField.vars.errors is not empty %}has-error{% endif %}">#}
                            {#{{ form_widget(emailField) }}#}
                            {#{{ form_errors(emailField) }}#}
                            {#</div>#}
                            {#{% endfor %}#}
                        </dd>
                    </dl>
                    {#<dl id="detail_box__password">#}
                        {#<dt>{{ form_label(form.password) }}</dt>#}
                        {#<dd>#}
                            {#{% for passwordField in form.password %}#}
                                {#<div class="form-group {% if passwordField.vars.errors is not empty %}has-error{% endif %}">#}
                                    {#{{ form_widget(passwordField, { type : 'password' }) }}#}
                                    {#{{ form_errors(passwordField) }}#}
                                {#</div>#}
                            {#{% endfor %}#}
                        {#</dd>#}
                    {#</dl>#}
                </div>
                {#<div class="dl_table not_required">
                    <dl id="detail_box__birth">
                        <dt>{{ form_label(form.birth) }}</dt>
                        <dd>
                            <div class="form-group form-inline">
                                {{ form_widget(form.birth) }}
                                {{ form_errors(form.birth) }}
                            </div>
                        </dd>
                    </dl>
                    <dl id="detail_box__sex">
                        <dt>{{ form_label(form.sex) }}</dt>
                        <dd>
                            <div class="form-group form-inline">
                                {{ form_widget(form.sex) }}
                                {{ form_errors(form.sex) }}
                            </div>
                        </dd>
                    </dl>
                    <dl id="detail_box__job">
                        <dt>{{ form_label(form.job) }}</dt>
                        <dd>
                            <div class="form-group form-inline">
                                {{ form_widget(form.job) }}
                                {{ form_errors(form.job) }}
                            </div>
                        </dd>
                    </dl>
                </div>#}
                {#{% for f in form %}
                    {% if f.vars.name matches '[^plg*]' %}
                        <div class="extra-form dl_table">
                            {{ form_row(f) }}
                        </div>
                    {% endif %}
                {% endfor %}
                <div id="detail_box__edit_button" class="row no-padding">
                    <div class="btn_group col-sm-offset-4 col-sm-4">
                        <p>
                            <button type="submit" class="btn btn-info btn-block">変更する</button>
                        </p>
                    </div>
                </div>#}
                {#</form>#}
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div>
{% endblock %}