<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>くらしスクエアショップ / ログインエラーが発生しました</title>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ app.config.front_urlpath }}/img/common/favicon.ico">
    <link href="{{ app.config.front_urlpath }}/css/style.css?v=3.0.16"
          rel="stylesheet">
    <link href="{{ app.config.front_urlpath }}/css/common.css?v=3.0.16"
          rel="stylesheet">
    <link href="{{ app.config.front_urlpath }}/css/other.css?v=3.0.16"
          rel="stylesheet">
    <link href="{{ app.config.front_urlpath }}/css/error.css?v=3.0.16"
          rel="stylesheet">
    <link href="{{ app.config.front_urlpath }}/css/jquery.bxslider.css?v=3.0.16"
          rel="stylesheet">
    <link href="{{ app.config.front_urlpath }}/css/lightbox.css?v=3.0.16"
          rel="stylesheet">
</head>
<body id="page_mypage_login" class="mypage">
<!-- Header -->
<header>
    <!-- ▼ヘッダー -->
    <div id="header">
        <div class="inner cf">
            <div id="header_l">
                <p id="lead">穴吹コミュニティ管理物件のご入居者さま専用WEBショップ＆メンテナンスサービス</p>
                <!-- Sp Navi -->
                <nav class="navBar spOnly">
                    <p>ご入居者さま専用WEBショップ&amp;メンテナンスサービス</p>
                </nav>
                <!-- //Sp Navi -->
                <h1 id="logo">
                    <a href="/">
                        <img src="{{ app.config.front_urlpath }}/img/common/logo_{{ BaseInfo.id }}.png"
                             class="M_ShopLogo pcOnly" alt="{{ BaseInfo.shop_name }}">
                        <img src="{{ app.config.front_urlpath }}/img/common/sp/smartphone_logo@2x_{{ BaseInfo.id }}.png"
                             class="spOnly" alt="{{ BaseInfo.shop_name }}">
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <!-- ▲ヘッダー -->
</header>
<!-- //Header -->
<div id="makebanner" class="cf">
    <div id="main">
        <div id="main_middle">
            <div class="container-fluid container-error">
                <h1 class="page-heading">ログインエラーが発生しました</h1>
                <div class="mb40">
                    <p>大変申し訳ございませんが、数日お待ちいただき、再度お試しください。</p>
                    <p>2～3日経ってもログインできない場合は、お手数ですが下記までお問い合わせください。</p>
                </div>
                <div>
                    <h2 class="info_h2">穴吹コンタクトセンター</h2>
                    <p><a href="tel:0120365384">0120-365-384</a></p>

                    <h2 class="info_h2">サーパスIPフォンからのお問い合わせ【通話無料】</h2>
                    <p><a href="tel:{{ BaseInfo.Tel01 }}{{ BaseInfo.Tel02 }}{{ BaseInfo.Tel03 }}">{{ BaseInfo.Tel01 }}-{{ BaseInfo.Tel02 }}-{{ BaseInfo.Tel03 }}</a></p>
                    <ul class="pink_disc">
                        <li>サーパスIPフォン（無料提携先を含む）以外からのお問い合せの場合、通話料がかかります。</li>
                        <li>土・日・祝日、および平日17:30以降のご相談については翌営業日の対応とさせていただきます。</li>
                        <li>案件により、担当者より折り返しご連絡させていただく場合もございます。</li>
                        <li>お問い合わせ・ご相談いただいた内容の正確な把握、並びに対応品質向上のため、通話内容を録音・記録させていただいております。予めご了承ください。</li>
                    </ul>
                    <h2 class="info_h2">メールによるお問い合わせ</h2>
                    <p><a href="mailto:{{ BaseInfo.Email02 }}">{{ BaseInfo.Email02 }}</a></p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- ▼フッター -->
<footer>
    <div id="footer">
        <div class="inner cf mb10">
            <div id="footer_l">
                <p><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/common/logo_{{ BaseInfo.id }}.png" alt=""></a></p>
            </div>
            <div id="footer_r">
                <p id="copy">COPYRIGHT ANABUKI COMMUNITY INC.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
