{% extends 'default_frame.twig' %}

{% set menus = ['customer', 'customer_point_upload'] %}


{% block title %}会員管理{% endblock %}
{% block sub_title %}ポイントCSVアップロード{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/spin.min.js"></script>
    <script>
        $(function () {

            var opts = {
                lines: 13,
                length: 30,
                width: 2,
                radius: 12,
                corners: 1,
                rotate: 0,
                direction: 1,
                color: '#BBB',
                speed: 1,
                trail: 67,
                shadow: true,
                hwaccel: false,
                className: 'spinner',
                zIndex: 2e9,
                top: top
            };

            ImageSpinner = new Spinner(opts).spin(document.getElementById('spinner'));
            ImageSpinner.stop();

            $('#upload-form').submit(function () {
                $('#upload-button').attr('disabled', 'disabled');
                $('#download-button').attr('disabled', 'disabled');
                ImageSpinner.spin(document.getElementById('spinner'));
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <form id="upload-form" class="form-inline" method="post"
                  action="{{ url('admin_customer_point_csv_import') }}" {{ form_enctype(form) }}>
                {{ form_widget(form._token) }}
                <div id="upload_wrap" class="box">
                    <div id="upload_box__header" class="box-header">
                        <h3 class="box-title">ポイントCSV</h3>
                    </div><!-- /.box-header -->
                    <div id="upload_box__body" class="box-body">
                        <div id="upload_box__body_inner" class="form-group">
                            <label class="col-sm-5 control-label">CSVファイル選択</label>
                            <div id="upload_box__file" class="col-sm-7">
                                {{ form_widget(form.import_file, {'attr': {'accept': 'text/csv,text/tsv'}}) }}
                                {{ form_errors(form.import_file) }}
                            </div>
                            {% for error in errors %}
                                <div id="upload_box__error--{{ loop.index }}"
                                     class="text-danger">{{ error.message }}</div>
                            {% endfor %}
                        </div>
                        <div id="spinner"></div>
                    </div><!-- /.box-body -->
                    <div class="box-footer text-center">
                        <button id="upload-button" type="submit" class="btn btn-primary btn-sm">CSVファイルのアップロード</button>
                    </div><!-- /.box-footer -->
                </div><!-- /.box -->
            </form>
        </div><!-- /.col -->
    </div>

    <div id="file_format" class="row">
        <div id="file_format_box" class="col-md-12">
            <div id="file_format_box__body" class="box">
                <div id="file_format_box__header" class="box-header">
                    <a href="/template/admin/assets/csv/point.csv" id="download-button" class="btn btn-default pull-right btn-xs">雛形ファイルダウンロード</a>
                    <h3 class="box-title">ポイントCSVファイルフォーマット</h3>
                </div><!-- /.box-header -->
                <div id="file_format_box__body_inner" class="box-body no-padding">
                    <div id="file_format_box__list_box" class="table_list">
                        <div id="file_format_box__list_box_body"
                             class="table-responsive no-border table-menu table-responsive-overflow">
                            <table class="table table-striped">
                                <thead>
                                <tr id="file_format_box__header" class="text-nowrap">
                                    {% for header in headers|keys %}
                                        <th id="file_format_box__header--{{ loop.index }}">{{ header }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr id="file_format_box__list" class="text-nowrap">
                                    <td id="file_format_box__id">
                                        EC-CUBEで管理しているポイント情報のID<br>
                                        ・既存のポイント履歴を変更する場合はIDを設定します。<br>
                                        ・新規登録時は未設定にします。自動でポイント情報IDが付与されます。
                                    </td>
                                    <td id="file_format_box__name">
                                        <div class="text-danger">必須</div>
                                        ・ポイント修正対象の会員IDを設定します。<br>
                                        ・IDは会員マスターの一覧、もしくは詳細ページから参照してください。

                                    </td>
                                    <td id="file_format_box__parent_id">
                                        <div class="text-danger">必須</div>
                                        ・ポイント増減の日時を設定します。
                                    </td>
                                    <td id="file_format_box__name">
                                        <div class="text-danger">必須</div>
                                        ・ポイント増減の理由などの内容を設定します。
                                    </td>
                                    <td id="file_format_box__name">
                                        ・商品購入でポイントが付与される場合などは受注情報の注文番号を設定します。<br>
                                        ・受注情報と関連がなければ未設定にします。
                                    </td>
                                    <td id="file_format_box__name">
                                        ・ポイントの確定日時
                                    </td>
                                    <td id="file_format_box__name">
                                        <div class="text-danger">必須</div>
                                        ・ポイントの修正値(正数、負数で指定)
                                    </td>
                                    <td id="file_format_box__name">
                                        <div class="text-danger">必須</div>
                                        ・有効期限を延長する：1 <br>
                                        ・有効期限を延長しない(直近の発送日のまま)：0
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>

{% endblock %}
