{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}
{% block javascript %}
    <script>
        {{ 'eccube.classCategories =' }} {{ Product.class_categories|json_encode|raw }};

        // 規格2に選択肢を割り当てる。
        function fnSetClassCategories(form, classcat_id2_selected) {
            var $form = $(form);
            var product_id = $form.find('input[name=product_id]').val();
            var $sele1 = $form.find('select[name=classcategory_id1]');
            var $sele2 = $form.find('select[name=classcategory_id2]');
            eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
        }

        $(function () {
            {% if form.classcategory_id2 is defined %}
            fnSetClassCategories(
                $('#form1'), {{ form.classcategory_id2.vars.value|json_encode|raw }}
            );
            {% elseif form.classcategory_id1 is defined %}
            eccube.checkStock($('#form1'), {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
            {% endif %}
        });
        $(function () {
            $('#favorite').click(function () {
                $('#mode').val('add_favorite');
            });
            $('#add-to-favorite').click(function () {
                $('#mode').val('add_favorite');
                $('#form1').submit();
            });

            $('#add-to-cart').click(function () {
                $('#mode').val('add_cart');
                $('#form1').submit();
            });

            $('#add-cart').click(function () {
                $('#mode').val('add_cart');
            });

            // bfcache無効化
            $(window).bind('pageshow', function (event) {
                if (event.originalEvent.persisted) {
                    location.reload(true);
                }
            });
        });
    </script>
    <script>
        function image_view_change(item) {
            var tmp = item.id.split('|');
            var image_no = tmp[0];
            var main_image_html_id = tmp[1];

            var elems = document.getElementById(main_image_html_id).getElementsByTagName('a');
            for (i = 0; i < elems.length; i++) {
                elems[i].style.display = 'none';
            }
            elems[image_no].style.display = 'block';
        }
    </script>

{% endblock %}
{% block breadcrumb %}
    <nav>
        <div id="M_topicPathWrap">
            {% for ProductCategory in Product.CurrentShopProductCategories %}
                <ul id="M_topicPath1">
                    <li><a href="{{ url('product_list') }}">トップ</a></li>
                    {% for Category in ProductCategory.Category.path %}
                        <li>
                            <a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a>
                        </li>
                    {% endfor %}
                    <li>{{ Product.name }}</li>
                </ul>
            {% endfor %}
        </div>
    </nav>
{% endblock %}

{% block main %}
    <!-- 商品詳細 -->
    <div class="section cf">
        <div class="prod_l">
            <div class="pic_box">
                <div class="M_imageWrap {% if Product.IsNewArrival %}newUp{% endif %}">
                    <div id="image_view_5b5eb6440bd15" class="M_imageMain">
                        {% if Product.ProductImage|length > 0 %}
                            {% for ProductImage in Product.ProductImage %}
                                <a href="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}"
                                   data-lightbox="group" {% if(loop.index > 1) %}style="display:none;"{% endif %}>
                                    <img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}">
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="M_imageCatalog">
                        <ul>
                            {% if Product.ProductImage|length > 0 %}
                                {% for ProductImage in Product.ProductImage %}
                                    <li>
                                        <img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}"
                                             onmouseover="image_view_change(this)"
                                             id="{{ loop.index-1 }}|image_view_5b5eb6440bd15">
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <p class="tx_c imgZoom">
                    {% if Product.ProductImage|length > 0 %}
                        {% for ProductImage in Product.ProductImage %}
                            <a href="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}"
                               data-lightbox="group2">
                                {% if(loop.index == 1) %}
                                    <img src="{{ app.config.front_urlpath }}/img/shopdetail/txt_zoom.png"
                                         alt="拡大画像を見る">
                                {% endif %}
                            </a>
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="prod_r cf">
            {% if Product.LongTags | length %}
                <ul class="singlePointIcon iconL">
                    {% for Tag in Product.LongTags %}
                        <li class="iconL">
                            {{ Tag.TextOrIcon | raw }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if Product.ShortTags | length %}
                <ul class="singlePointIcon iconM">
                    {% for Tag in Product.ShortTags %}
                        <li class="iconM">
                            {{ Tag.TextOrIcon | raw }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h2 class="prod_name">{{ Product.Name }}</h2>
            <div class="prod_ex">
                <dl class="cf">
                    {% if Product.code_min %}
                        <dt><span>商品コード</span></dt>
                        <dd>
                            <span id="item_code_default">{{ Product.code_min }}{% if Product.code_min != Product.code_max %} ～ {{ Product.code_max }}{% endif %}</span>
                        </dd>
                    {% endif %}
                    {% if Product.Maker %}
                        <dt><span>メーカー</span></dt>
                        <dd>{{ Product.Maker.Name }}</dd>
                    {% endif %}
                    {% if Product.agency is not empty %}
                        <dt class=""><span>提携ショップ</span></dt>
                        <dd class="">{{ Product.agency }}</dd>
                    {% endif %}
                </dl>
                {% if Product.getPrice01Min is not null %}
                    <dl class="cf">
                        <dt class="consumerPrice"><span>希望小売価格</span></dt>
                        <dd class="consumerPrice">
                            {% if Product.hasProductClass -%}
                                {% if Product.getPrice01Min is not null and Product.getPrice01IncTaxMin == Product.getPrice01IncTaxMax %}
                                    <div id="detail_description_box__class_normal_price">
                                        <span class="small">税込</span>
                                        <span class="price01_default">{{ Product.getPrice01IncTaxMin|number_format }}
                                            円</span>
                                    </div>
                                {% elseif Product.getPrice01Min is not null and Product.getPrice01Max is not null %}
                                    <div id="detail_description_box__class_normal_range_price">
                                        <span class="small">税込</span>
                                        <span class="price01_default">{{ Product.getPrice01IncTaxMin|number_format }}
                                            円 ～ {{ Product.getPrice01IncTaxMax|number_format }}円</span>
                                    </div>
                                {% endif %}
                            {% else -%}
                                {% if Product.getPrice01Max is not null %}
                                    <div id="detail_description_box__normal_price">
                                    <span class="price01_default">{{ Product.getPrice01IncTaxMin|number_format }}
                                        円</span>
                                        <span class="small">税込</span>
                                    </div>
                                {% endif %}
                            {% endif -%}
                        </dd>
                    </dl>
                {% endif %}
            </div>

            {% if is_granted('ROLE_USER') %}
                <p class="pointTxt">
                    ご購入で<span
                            id="point_default">{{ Product.point_min|number_format }}{% if Product.point_min != Product.point_max %}~ {{ Product.point_max|number_format }}{% endif %}</span>ポイント獲得！
                </p>
            {% endif %}

            <form action="?" method="post" id="form1" name="form1">
                <div class="prod_op">
                    <dl class="cf">
                        <dt>
                            {% if Product.getPrice02Min == Product.getPrice02Max and Product.Campaign and Product.Campaign.CampaignType == 3 %}
                                通常価格
                            {% else %}
                                価格
                            {% endif %}
                        </dt>
                        <dd class="price">
                            {% if Product.hasProductClass -%}
                                {% if Product.getPrice02Min == Product.getPrice02Max %}
                                    <p id="detail_description_box__class_sale_price_ex_tax"
                                       class="sale_price text-primary">
                                        {% if Product.Campaign and Product.Campaign.CampaignType == 3 %}
                                            <strong class="price02_default">
                                                <span class="del"><span>{{ Product.getPrice02Min|number_format }}
                                                        円</span></span><br>
                                                {{ Product.getDiscountPriceMin|number_format }}円
                                            </strong>
                                        {% else %}
                                            <strong class="price02_default">
                                                {{ Product.getPrice02Min|number_format }}円
                                            </strong>
                                        {% endif %}
                                    </p>
                                {% else %}
                                    <p id="detail_description_box__class_range_sale_price_ex_tax"
                                       class="sale_price text-primary">
                                        <strong class="price02_default">{{ Product.getPrice02Min|number_format }}円
                                            ～ {{ Product.getPrice02Max|number_format }}円</strong>
                                    </p>
                                {% endif %}
                            {% else -%}
                                <p id="detail_description_box__sale_price_ex_tax" class="sale_price text-primary">
                                    <strong class="price02_default">{{ Product.getPrice02Min|number_format }}
                                        円</strong>
                                </p>
                            {% endif -%}


                            {% if Product.hasProductClass -%}
                                {% if Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
                                    {% if Product.Campaign and Product.Campaign.CampaignType == 3 %}
                                        <div id="detail_description_box__class_sale_price"
                                             class="sale_price text-primary">
                                        <span class="price02_default">（税込{{ Product.getDiscountPriceIncTaxMin|number_format }}
                                            円）送料別</span>
                                        </div>
                                    {% else %}
                                        <div id="detail_description_box__class_sale_price"
                                             class="sale_price text-primary">
                                        <span class="price02_default">（税込{{ Product.getPrice02IncTaxMin|number_format }}
                                            円）送料別</span>
                                        </div>
                                    {% endif %}

                                {% else %}
                                    <div id="detail_description_box__class_range_sale_price"
                                         class="sale_price text-primary">
                                        <span class="price02_default">（税込{{ Product.getPrice02IncTaxMin|number_format }}
                                            円 ～ {{ Product.getPrice02IncTaxMax|number_format }}円）送料別</span>
                                    </div>
                                {% endif %}
                            {% else -%}
                                <div id="detail_description_box__sale_price" class="sale_price text-primary">
                                    <span class="price02_default">（税込{{ Product.getPrice02IncTaxMin|number_format }}
                                        円）送料別</span>
                                </div>
                            {% endif -%}
                        </dd>
                    </dl>
                    {% if Product.stock_find %}
                        <dl class="cf">
                            <dt>数量</dt>
                            <dd>
                                <div class="hidden">{{ form_widget(form.quantity) }}</div>
                                <input type="number" id="quantity" name="quantity" required="required" min="1"
                                       maxlength="9" value="1">
                                {{ form_errors(form.quantity) }}
                            </dd>
                        </dl>
                    {% endif -%}
                </div>
                <!--▼買い物かご-->
                {% if Product.stock_find %}
                    {# 規格 #}
                    <div class="detailoption">
                        {% if form.classcategory_id1 is defined %}
                            <dl class="cf">
                                <dt>{{ Product.className1 }}</dt>
                                <dd>
                                    <div class="selectCategory">
                                        {# 規格1 #}
                                        {{ form_widget(form.classcategory_id1) }}
                                        {{ form_errors(form.classcategory_id1) }}
                                    </div>
                                </dd>
                                {# 規格2 #}
                                {% if form.classcategory_id2 is defined %}
                                    <dt>{{ Product.className2 }}</dt>
                                    <dd>
                                        <div class="selectCategory">
                                            {{ form_widget(form.classcategory_id2) }}
                                            {{ form_errors(form.classcategory_id2) }}
                                        </div>
                                    </dd>
                                {% endif %}
                            </dl>
                        {% endif %}
                    </div>

                    {% for f in form.getIterator %}
                        {% if f.vars.name matches '[^plg*]' %}
                            {{ form_row(f) }}
                        {% endif %}
                    {% endfor %}
                    <ul class="prod_btn">
                        <li class="fl">
                            <a href="javascript:;" id="add-to-cart">
                                <img src="{{ app.config.front_urlpath }}/img/shopdetail/btn_cart02.png"
                                     alt="カートに入れる">
                            </a>
                        </li>
                        {#Favorite product button#}
                        {% if is_granted('ROLE_USER') %}
                            {% if BaseInfo.option_favorite_product == 1 %}
                                {% if is_favorite == false %}
                                    <li class="cls">
                                        <a href="javascript:;" id="add-to-favorite">
                                            <img src="{{ app.config.front_urlpath }}/img/shopdetail/btn_favorite02.png"
                                                 alt="お気に入りリストに追加">
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="cls">
                                        <img src="{{ app.config.front_urlpath }}/img/shopdetail/btn_favorite02_add.png"
                                             alt="お気に入りリストに追加">
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </ul>

                    {#End div#detail_cart_box__button_area #}
                {% else %}
                    {# 在庫がない場合は品切れボタンを表示 #}
                    <ul class="prod_btn">
                        <li class="fl">
                            <img src="{{ app.config.front_urlpath }}/img/shopdetail/btn_cart04.png"
                                 alt="カートに入れる">
                        </li>

                        {#Favorite product button#}
                        {% if BaseInfo.option_favorite_product == 1 %}
                            {% if is_favorite == false %}
                                <li class="cls">
                                    <a href="javascript:;" id="add-to-favorite">
                                        <img src="{{ app.config.front_urlpath }}/img/shopdetail/btn_favorite02.png"
                                             alt="お気に入りリストに追加">
                                    </a>
                                </li>
                            {% else %}
                                <li class="cls">
                                    <img src="{{ app.config.front_urlpath }}/img/shopdetail/btn_favorite02_add.png"
                                         alt="お気に入りリストに追加">
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                {% endif %} {#End stock find#}
                <!--▲買い物かご-->
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
    <!-- フリーエリア -->
    {% if Product.free_area %}
        {{ include(template_from_string(Product.free_area)) }}
    {% endif %}
    {% if Product.description_detail %}
        <!-- 商品説明 -->
        <div class="white_box shopdetail">
            <div class="section">
                <h3 class="h_bdr2">商品説明</h3>
                <div class="h_bdr_l">
                    <div class="item-description">{{ include(template_from_string(Product.description_detail)) }}</div>
                </div>
            </div>
        </div>
        <!-- //商品説明 -->
    {% endif %}





{% endblock %}
