{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}
{% block breadcrumb %}
    <nav>
        <div id="M_topicPathWrap">
            <ul id="M_topicPath1">
                <li><a href="{{ url('top') }}">トップ</a></li>
                {% if Category is not null %}
                    {% for Path in Category.path %}

                        {% if app.request.get('category_id') == Path.id %}
                            <li class="M_current">{{ Path.name }}</li>
                        {% else %}
                            <li>
                                <a href="{{ url('product_list') }}?category_id={{ Path.id }}">{{ Path.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block main %}
    {% if search_form.category_id.vars.errors|length == 0 %}
        <form name="form1" id="form1" method="get" action="?">
            {{ form_widget(search_form) }}
        </form>
        {% if Category is not null and Category.ImageUrl %}
            <div class="mb40">
                <div class="mb30">
                    <img src="{{ Category.ImageUrl }}" alt="{{ Category.Name }}">
                </div>
            </div>
        {% endif %}
        {#おすすめ商品のお見積り#}
        {% if app.request.get('category_id') in [189,375,3] %}
            <div class="mb30">
                <h3 class="h_bdr2">お見積もり商品</h3>
                <div class="prod_caution">
                    <div class="in">
                        <p class="mb0">以下はお見積もりが必要な商品です。<br>当社ホームページで詳細をご覧いただき、お気軽にお問い合わせください。</p>
                    </div>
                </div>
                <ul class="list_clm4 estimate cf mb0">
                    <li class="clm_l">
                        <a href="http://www.anabuki-community.com/reform/service/product_waterheater.html"
                           target="_blank">
                            <span><img src="{{ app.config.front_urlpath }}/img/common/prod_recom_img01.jpg" alt=""><br>給湯器交換</span>
                        </a>
                    </li>
                    <li class="clm_l">
                        <a href="http://www.anabuki-community.com/reform/service/cleaning_duct.html" target="_blank">
                            <span><img src="{{ app.config.front_urlpath }}/img/common/prod_recom_img02.jpg" alt=""><br>換気ダクト清掃</span>
                        </a>
                    </li>
                    <li class="clm_l">
                        <a href="http://www.anabuki-community.com/reform/service/product_waterfilter.html"
                           target="_blank">
                            <span><img src="{{ app.config.front_urlpath }}/img/common/prod_recom_img03.jpg" alt=""><br>蛇口一体型浄水器</span>
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}

        {#リフォーム#}
        {% if app.request.get('category_id') in [194,380,8] %}
            <div class="mb30">
                <h3 class="h_bdr2">お見積もり商品</h3>
                <div class="prod_caution">
                    <div class="in">
                        <p class="mb0">以下はお見積もりが必要な商品です。<br>当社ホームページで詳細をご覧いただき、お気軽にお問い合わせください。</p>
                    </div>
                </div>
                <ul class="list_clm4 estimate cf mb0">
                    <li class="clm_l"><a
                                href="http://www.anabuki-community.com/reform/service/"
                                target="_blank">
                            <span><img src="{{ app.config.front_urlpath }}/img/common/prod_recom_img04.jpg" alt=""><br>リフォームサービス</span>
                        </a></li>

                    <li class="clm_l"><a
                                href="http://www.anabuki-community.com/reform/service/product_waterheater.html"
                                target="_blank">
                            <span><img src="{{ app.config.front_urlpath }}/img/common/prod_recom_img01.jpg" alt=""><br>給湯器交換</span>
                        </a></li>

                    <li class="clm_l"><a
                                href="http://www.anabuki-community.com/reform/service/product_waterfilter.html"
                                target="_blank">
                            <span><img src="{{ app.config.front_urlpath }}/img/common/prod_recom_img03.jpg" alt=""><br>蛇口一体型浄水器</span>
                        </a></li>
                </ul>
            </div>
        {% endif %}
        {% if Category is not null and Category.level == 1 and Category.children | length %}
            <div class="mb40">
                <h3 class="h_bdr2">{{ Category.Name }}一覧</h3>
            </div>

            <div id="subcate">
                <div class="list_clm4 subcateList cf">
                    {% for Children in Category.children %}
                        <!-- item -->
                        <div class="clm_l">
                            <div class="pic">
                                <a href="{{ url('product_list') }}?category_id={{ Children.id }}">
                                    <img src="{{ Children.Icon }}"
                                         alt="{{ Children.name }}">
                                </a>
                            </div>
                            <h3>
                                <a href="{{ url('product_list') }}?category_id={{ Children.id }}">{{ Children.name }}</a>
                            </h3>
                        </div>
                        <!-- //item -->
                    {% endfor %}

                </div>
            </div>
        {% endif %}

        {# 商品一覧表示制限 #}
        {% if app.request.get('category_id') not in [199,385,13, 8, 380, 194, 15, 387, 201, 6, 192, 378, 1, 373, 187, 204, 390, 18, 10, 382,196,382,10] %}
            {% if pagination.totalItemCount > 0 %}
                <div class="mb30">
                    <form name="page_navi_top" id="page_navi_top" action="?">

                        <h2 class="h_bdr prodIndx mb10">
                            <img src="{{ app.config.front_urlpath }}/img/shopbrand/prod_indx_h01.png"
                                 alt="Product Index 商品一覧"
                                 class="pcOnly">
                            <img src="{{ app.config.front_urlpath }}/img/shopbrand/prod_indx_h01@2x.png"
                                 alt="Product Index 商品一覧" class="spOnly">
                        </h2>

                        {% for f in disp_number_form.getIterator %}
                            {% if f.vars.name matches '[^plg*]' %}
                                {{ form_label(f) }}
                                {{ form_widget(f) }}
                                {{ form_errors(f) }}
                            {% endif %}
                        {% endfor %}

                        {% for f in order_by_form.getIterator %}
                            {% if f.vars.name matches '[^plg*]' %}
                                {{ form_label(f) }}
                                {{ form_widget(f) }}
                                {{ form_errors(f) }}
                            {% endif %}
                        {% endfor %}
                        <div class="cf">
                            <p class="list_num">全{{ pagination.totalItemCount }}件</p>
                            <p class="list_sort">
                                並び替え：
                                {% if app.request.query.get('orderby') == 2 %}
                                    <a href="javascript:;" onclick="changeOrder(0)">新着</a>
                                {% else %}
                                    <a href="javascript:;" onclick="changeOrder(2)">新着</a>
                                {% endif %}
                                {% if app.request.query.get('orderby') == 1 %}
                                    <a href="javascript:;" onclick="changeOrder(2)">価格</a>
                                {% else %}
                                    <a href="javascript:;" onclick="changeOrder(1)">価格</a>
                                {% endif %}
                            </p>
                        </div>

                        <div class="list_clm4 shopbrandList cf">
                            {% set count = 0 %}
                            {% for Product in pagination %}
                                {% set count = count + 1 %}
                                <div class="clm_l {% if Product.IsNewArrival %}newUp{% endif %}">
                                    <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                        <p class="pic">
                                            <img src="{{ app.config.image_save_urlpath }}/{{ Product.mainFileName|no_image_product }}"
                                                 alt="{{ Product.name }}"/>
                                        </p>
                                        <h3 class="name">{{ Product.Name }}</h3>
                                    </a>
                                    <p class="ex02">{{ Product.Maker.Name }}</p>
                                    <p class="price">
                                        <strong>
                                            {% if Product.hasProductClass %}
                                                {% if Product.getPrice02Min == Product.getPrice02Max %}
                                                    {{ Product.getPrice02Min|number_format }}円
                                                {% else %}
                                                    {{ Product.getPrice02Min|number_format }}円 ～ {{ Product.getPrice02Max|number_format }}円
                                                {% endif %}
                                            {% else %}
                                                {{ Product.getPrice02Min|number_format }}円
                                            {% endif %}

                                        </strong><br>
                                        <span>
                                    {% if Product.hasProductClass %}
                                            {% if Product.getPrice02Min == Product.getPrice02Max %}
                                                （税込{{ Product.getPrice02IncTaxMin|number_format }}円）
                                            {% else %}
                                                （税込{{ Product.getPrice02IncTaxMin|number_format }}円 ～ {{ Product.getPrice02IncTaxMax|number_format }}円）
                                            {% endif %}
                                        {% else %}
                                            （税込{{ Product.getPrice02IncTaxMin|number_format }}円）
                                            {% endif %}送料別
                                </span>
                                    </p>
                                    {% if Product.LongTags | length %}
                                        <ul class="pointIcon iconL">
                                            {% for Tag in Product.LongTags %}
                                                <li class="iconL">
                                                    {{ Tag.TextOrIcon | raw }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {% if Product.ShortTags | length %}
                                        <ul class="pointIcon iconM">
                                            {% for Tag in Product.ShortTags %}
                                                <li class="iconM">
                                                    {{ Tag.TextOrIcon | raw }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                {% if loop.index % 2 == 0 %}
                                    <hr class="spLine">
                                {% endif %}
                                {% if loop.index  % 4 == 0  and (loop.index / 4) < pagination|length/4 %}
                                    <hr class="pcLine">
                                {% endif %}

                            {% endfor %}
                        </div>

                        {% if pagination.totalItemCount > 0 %}
                            {% include "pagination.twig" with { 'pages' : pagination.paginationData } %}
                        {% endif %}
                    </form>
                </div>
            {% else %}
                <div class="mb40">
                    <div class="mb30">お探しの商品は見つかりませんでした。</div>
                </div>

            {% endif %}
        {% endif %}
    {% else %}
        <div class="mb40">
            <div class="mb30">ご指定のカテゴリは存在しません。</div>
        </div>
    {% endif %}
    <form action="{{ url('product_list') }}" id="changeOrder">
        <input type="hidden" name="orderby" value="0">
        {% for key, query in app.request.query %}
            {% if key != 'orderby' %}
                <input type="hidden" name="{{ key }}" value="{{ query }}">
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}

{% block javascript %}
    <script>
        function changeOrder(id) {
            $("#changeOrder input[name=orderby]").val(id);
            $("#changeOrder").submit();
        };
    </script>
{% endblock %}
