{% for Block in Blocks %}
    {#ショップフィルター#}
    {% if Block.Shop is null or Block.Shop.Id == BaseInfo.Id %}
        <!-- ▼{{ Block.name }} -->
        {% if Block.logic_flg %}
            {% if app.config.http_cache.enabled %}
                {{ render_esi(path('block_' ~ Block.file_name)) }}
            {% else %}
                {{ render(path('block_' ~ Block.file_name)) }}
            {% endif %}
        {% else %}
            {% if Block.ShareFlg %}
                {{ include('Block/' ~ Block.file_name~ '.twig', ignore_missing = false) }}
            {% else %}
                {{ include('Block/shop' ~ BaseInfo.Id~ '/' ~ Block.file_name~ '.twig', ignore_missing = false) }}
            {% endif %}
        {% endif %}
        <!-- ▲{{ Block.name }} -->
    {% endif %}
{% endfor %}
