{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block javascript %}
{% endblock %}

{% block main %}
    <!-- Sp Ranking -->
    <section class="indexSection indexRanking spOnly">
        <h2 class="h_bdr mb15"><img src="{{ app.config.front_urlpath }}/img/common/side_h02.png" alt="Ranking"
                                    class="pcOnly"><img src="{{ app.config.front_urlpath }}/img/common/sp/side_h02@2x.png"
                                                        alt="Ranking" class="spOnly"></h2>
        <ul class="rankingList">

            {% for Ranking in ProductRanking %}
                <li><a href="{{ url('product_detail', {'id': Ranking.Product.id}) }}">
                        <div class="itemImg"><p class="rank">
                                <img src="{{ app.config.front_urlpath }}/img/common/rank{{ loop.index }}.jpg" alt="No.0{{ loop.index }}">
                            </p>
                            <img src="{{ app.config.image_save_urlpath }}/{{ Ranking.Product.mainFileName|no_image_product }}"
                                 alt="{{ Ranking.Product.name }}">

                        </div>
                        <p class="rankingName">{{ Ranking.Product.name }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <!-- //Sp Ranking -->

    <!-- Sp Category -->
    <section class="indexSection indexCatlist spOnly">
        <h2 class="h_bdr mb15"><img src="{{ app.config.front_urlpath }}/img/common/sp/side_h01@2x.png" alt="Shop List">
        </h2>
        <ul class="catMenu" id="category_listSp2">
            <li class="l_nav02"><a href="/page/shoplist/repair">住まいのお手入れ</a></li>
            <li class="l_nav03"><a href="/page/shoplist/reform">リフォーム</a></li>
            <li class="l_nav04"><a href="/page/shoplist/rice">お米</a></li>
            <li class="l_nav05"><a href="/page/shoplist/foodanddrink">食品・ドリンク</a></li>
            <li class="l_nav06"><a href="/page/shoplist/sweets">スイーツ</a></li>
            <li class="l_nav07"><a href="/page/shoplist/interior">インテリア・雑貨</a></li>
            <li class="l_nav08"><a href="/page/shoplist/emergency">防災用品</a></li>
            <li class="l_nav09"><a href="/page/shoplist/care">介護・福祉</a></li>
        </ul>
    </section>
    <!-- //Sp Category -->
{% endblock %}
