{% extends 'default_frame.twig' %}
{% block breadcrumb %}
    <nav>
        <div id="M_topicPathWrap">
            <ul id="M_topicPath1">
                <li><a href="{{ url('top') }}">トップ</a></li>
                <li>NEWS</li>

            </ul>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="section newsSection newsInner">
        <h2 class="h_bdr mb15">
            <img src="{{ app.config.front_urlpath }}/img/news/news_indx_h01.png" alt="NEWS ニュース" class="pcOnly">
            <img src="{{ app.config.front_urlpath }}/img/news/news_indx_h01@2x.png" alt="NEWS ニュース"
                 class="spOnly">
        </h2>

        <p class="date">{{ News.date|date("Y/m/d") }}</p>
        <div class="newsDetails">
            <h3 class="h_dot">{{ News.title }}</h3>
            <div class="newsMainWrap">
                <p class="mb40 pl25">
                    {% if News.comment or News.url %}
                        {{ News.comment|raw }}
                        {% if News.url %}<br>
                            <a href="{{ News.url }}"
                               {% if News.link_method == '1' %}target="_blank"{% endif %}>
                                詳しくはこちら
                            </a>
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
        <p class="back"><a href="{{ url('news') }}">ニュース一覧へ戻る</a></p>

    </div>
{% endblock %}
