<!doctype html>
<html lang="ja">
<head>
    <title>ログイン | サーパスショップ</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="{{ app.config.front_urlpath }}/img/common/favicon{{ BaseInfo.Id }}.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/style.css">
    <link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/common.css" type="text/css">
    <link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/other.css" type="text/css">
    <link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/jquery.bxslider.css" type="text/css">
    <script src="{{ app.config.front_urlpath }}/js/jquery-3.3.1.min.js"></script>
    <script src="{{ app.config.front_urlpath }}/js/scrolltopcontroll.js"></script>
    <script src="{{ app.config.front_urlpath }}/js/common.js"></script>
    <script src="{{ app.config.front_urlpath }}/js/function.js"></script>
<body id="page_mypage" class="mypage">

<div id="makebanner" class="cf">
    <div id="main">
        <div id="main_middle">
            <div class="surpassLogo"><img src="{{ app.config.front_urlpath }}/img/common/surpass_shop-01.png"
                                          alt="サーパスショップ"></div>
            <h1 class="page-heading">ログイン</h1>
            <div class="container-fluid">
                <form name="login_mypage" id="login_mypage" method="post" action="?"
                      onsubmit="return eccube.checkLoginFormInputted('login_mypage')">
                    <div id="login_box" class="row">
                        <div id="mypage_login_wrap" class="col-sm-10 col-sm-offset-1">
                            <div id="mypage_login_box" class="column">
                                <p class="intro">ご契約者さま専用のサーパスショップです。IDとパスワードを入力してください。</p>
                                {% if error %}
                                    <p class="text-danger">ログインできませんでした。<br>入力内容に誤りがないかご確認ください。</p>
                                {% endif %}
                                <div id="mypage_login_box__body" class="column_inner clearfix">
                                    <div id="mypage_login_box__login_id" class="form-group">
                                        <input type="text" id="login_id" name="login_id" required="required"
                                               max_length="320" placeholder="ユーザー名" class="form-control">
                                    </div>
                                    <div id="mypage_login_box__login_pass" class="form-group">
                                        <input type="password" id="login_pass" name="login_pass" required="required"
                                               max_length="320" placeholder="パスワード" class="form-control">
                                    </div>

                                    <div id="mypage_login__login_button" class="btn_area">
                                        <p>
                                            <button type="submit" class="btn btn-info btn-block btn-lg">ログイン</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <input type="hidden" name="_csrf_token" value="NmuHQLSJ-zA2lysU6_7foL0adjoltJsCiU-PUQjEAko">
                </form>
            </div>
        </div>
    </div>
</div>
	<footer>
		<div class="inner cf mb10">
            <div id="footer_r">
                <p id="copy">COPYRIGHT ANABUKI COMMUNITY INC.</p>
            </div>
        </div>
		</footer>
</body>
</html>