{% extends 'default_frame.twig' %}
{% block breadcrumb %}

    <nav>
        <div id="M_topicPathWrap">
            <ul id="M_topicPath1">
                <li><a href="{{ url('top') }}">トップ</a></li>
                <li>よくあるご質問</li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block main %}

    <!-- FAQ一覧 -->
    <div class="section faqSection">
        <h2 class="h_bdr mb30"><img src="{{ app.config.front_urlpath }}/img/html/faq_h01.png" alt="FAQ よくあるご質問"
                                    class="pcOnly"><img src="{{ app.config.front_urlpath }}/img/html/faq_h01@2x.png"
                                                        alt="FAQ よくあるご質問" class="spOnly"></h2>
        <div class="faqDetails">
            <div class="qa">
                <h3 class="que">配送日時を指定したいのですが、注文した商品は何日くらいで届きますか？</h3>
                <div class="white_box">
                    <p class="ans">
                        納期は商品ごとに異なります。通常一週間以内の発送でお届けします。一部お届けまでお時間のかかる商品につきましては、商品詳細ページに記載がございますのでご確認ください。<br>
                        なお在庫状況や配送時の交通事情等によりご希望通りにお届けできない場合がありますので、余裕をもってご注文ください。商品はショップより直接お届けいたします。複数のショップから商品を同時購入されましても商品のお届け日時がそれぞれ異なりますので、ご了承ください。<br>
                        一部配送日時が指定できない商品がありますので、ご了承ください。</p>
                </div>
            </div>
            <div class="qa">
                <h3 class="que">送料を確認したい</h3>
                <div class="white_box">
                    <p class="ans">送料は商品ごとに異なります。各商品の詳細ページをご確認ください。送料は税込表示です。<br>
                        複数の商品を購入される場合、それぞれ送料が必要となります。（一部除く）</p>
                </div>
            </div>
            <div class="qa">
                <h3 class="que">注文後に支払い方法や品数を変更したい</h3>
                <div class="white_box">
                    <p class="ans">一度ご注文を完了すると、ご注文の内容を変更することはできません。</p>
                </div>
            </div>
            <div class="qa">
                <h3 class="que">注文後に配送先や配送日時の指定を変更したい</h3>
                <div class="white_box">
                    <p class="ans">一度ご注文を完了すると、ご注文の内容を変更することはできません。</p>
                </div>
            </div>
            <div class="qa">
                <h3 class="que">届いた商品が不良品・品違いだったときは？</h3>
                <div class="white_box">
                    <p class="ans">商品に明らかな欠陥がある場合または品違いの場合は、穴吹コンタクトセンター（0120-365-384）にご連絡ください。担当者より折り返しご連絡させていただきます。</p>
                </div>
            </div>
            <div class="qa">
                <h3 class="que">ギフト用ラッピングで送りたい</h3>
                <div class="white_box">
                    <p class="ans">
                        ラッピングの対応は商品ごとに異なります。ギフト用ラッピングでのお届けをご希望の場合は、ご注文画面内「備考」に「ギフトラッピング希望」とご記載ください。商品詳細ページにギフトについての記載がない商品はギフト用ラッピングをお受けしておりません。</p>
                </div>
            </div>
            <div class="qa">
                <h3 class="que">メッセージカードはつけられますか？メッセージを記入することはできますか？</h3>
                <div class="white_box">
                    <p class="ans">
                        メッセージカードの対応は商品ごとに異なります。メッセージカードの同封をご希望の場合は、ご注文画面内「備考」に「メッセージカード希望」とご記載の上メッセージを100文字以内でご記入ください。商品詳細ページにメッセージカードについての記載がない商品はメッセージカードのご要望をお受けすることができません。</p>
                </div>
            </div>
            <div class="qa">
                <h3 class="que">のしはつけられますか？どのような種類が選べますか？</h3>
                <div class="white_box">
                    <p class="ans">
                        のしの対応、種類は商品ごとに異なります。のしをご希望の場合は、ご注文画面内「備考」に「のし付」または「お中元のし付」とご記載ください。商品詳細ページにのしについての記載がない商品はのしをお受けしておりません。</p>
                </div>
            </div>
            <div class="qa">
                <h3 class="que">ギフト用なので商品の金額がわからないようにしたい</h3>
                <div class="white_box">
                    <p class="ans">
                        ご注文商品の金額は、当ショップから配信する注文受付完了メールに記載しております。また購入された商品には納品書等、金額の分かるものは入れておりませんのでご安心ください。</p>
                </div>
           

{% if BaseInfo.Id == 1 %}
<div class="qa">
                <h3 class="que">表札を注文したいのですが、ユニットタイプがわかりません。</h3>
                <div class="white_box">
                    <p class="ans">
                        お手数でなければ携帯等で表札ユニットの写真をお撮りいただき、{{ BaseInfo.Email02 }}までメールでお送りいただけますと、確実に表札のタイプを確認することが可能です。</p>
                </div>
           <div class="qa">
                <h3 class="que">表札とあわせて郵便ポストの名札も作成したいのですが。</h3>
                <div class="white_box">
                    <p class="ans">
                        当ショップでは郵便ポストの名札はお取扱しておりませんのでご了承ください。</p>
                </div>
           <div class="qa">
                <h3 class="que">表札の表記方法（漢字、ローマ字）や字体の種類を選びたいのですが。</h3>
                <div class="white_box">
                    <p class="ans">
                        商品の詳細ページから対応可能な表記方法、字体をご確認ください。表記方法、字体を選ぶ場合は、ご注文の際に「連絡欄」にご記入ください。</p>
                </div>
            </div>
{% endif %}
{% if BaseInfo.Id == 2 %}
<div class="qa">
                <h3 class="que">表札を注文したいのですが、ユニットタイプがわかりません。</h3>
                <div class="white_box">
                    <p class="ans">
                        お手数でなければ携帯等で表札ユニットの写真をお撮りいただき、{{ BaseInfo.Email02 }}までメールでお送りいただけますと、確実に表札のタイプを確認することが可能です。</p>
                </div>
           <div class="qa">
                <h3 class="que">表札とあわせて郵便ポストの名札も作成したいのですが。</h3>
                <div class="white_box">
                    <p class="ans">
                        当ショップでは郵便ポストの名札はお取扱しておりませんのでご了承ください。</p>
                </div>
           <div class="qa">
                <h3 class="que">表札の表記方法（漢字、ローマ字）や字体の種類を選びたいのですが。</h3>
                <div class="white_box">
                    <p class="ans">
                        商品の詳細ページから対応可能な表記方法、字体をご確認ください。表記方法、字体を選ぶ場合は、ご注文の際に「連絡欄」にご記入ください。</p>
                </div>
            </div>
{% endif %}
{% if BaseInfo.Id == 3 %}
{% endif %}
        </div>
        <!-- FAQ一覧ここまで -->

    </div>

{% endblock %}