{% extends 'default_frame.twig' %}
{% block breadcrumb %}

    <nav>
        <div id="M_topicPathWrap">
            <ul id="M_topicPath1">
                <li><a href="{{ url('top') }}">トップ</a></li>
                <li>ご利用規約</li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block main %}

    <div class="section userPolicySection">
        <h2 class="h_bdr mb30"><img src="{{ app.config.front_urlpath }}/img/html/policy_h02.png" alt="User Policy ご利用規約"
                                    class="pcOnly"><img src="{{ app.config.front_urlpath }}/img/html/policy_h02@2x.png"
                                                        alt="User Policy ご利用規約" class="spOnly"></h2>
        <div class="userPolicyDetails">
            <p>以下の利用規約をお読みいただき、ご同意の上ショッピングサービスをご利用ください。</p>
            <p class="mb30">本規約は、穴吹コミュニティ（以下「当社」といいます）が運営する {{ BaseInfo.ShopName }}（以下「当ショップ」といいます）のサービスを利用するすべての事項にわたり適用されるものとします。</p>
            <h3 class="h_bdr2">１.本サービスの利用</h3>
            <p>利用者は本規約および当社が定める指示に従い、本サービスを利用できるものとします。</p>
            <ul class="pink_disc mb30">
                <li>利用者は本サービスの利用に当たって、所定の登録申込を行う必要があります。</li>
                <li>利用者は本サービスを通じて利用者が発信する情報につき一切の責任を負うものとし、当社に何等の迷惑または損害を与えないものとします。</li>
                <li>
                    本サービスの利用に関連して、利用者が他の利用者あるいは第三者あるいは権利者に対して損害を与えた場合、または利用者が他の利用者、第三者、権利者と紛争を生じた場合、利用者は自己の費用と責任で解決するものとし、当社に何等の迷惑または被害を与えないものとします。
                </li>
                <li>利用者が未成年の場合、本サービスの利用については親権者の承諾を必要とします。</li>
            </ul>
            <h3 class="h_bdr2">２．利用者</h3>
            <p class="mb30">「利用者」とは、本サービスを閲覧、購入など利用を行った方をいいます。本サービスを利用した場合は、利用者が本規約に同意したものとみなされます。</p>
            <h3 class="h_bdr2">３．利用者に対する制限事項</h3>
            <p>利用者は、以下に掲げる行為は行ってはならないものとします。</p>
            <ul class="pink_disc mb30">
                <li>当ショップが指定した方法以外の方法によって、当ショップを利用する行為。</li>
                <li>他者になりすまして本サービスを利用する行為。</li>
                <li>当ショップが認める以外の方法で、本サービスに関連するデータのリンクを、他のデータ等へ指定する行為。</li>
                <li>当ショップを利用するコンピュータに保存されているデータへ不正アクセスする、又はこれを破壊もしくは破壊するおそれのある行為。</li>
                <li>本サービスの運営を妨害する行為。</li>
                <li>本サービスを使用した営業活動並びに営利を目的とした利用及びその準備を目的とした利用。但し、当社が別途承認した場合には、この限りではありません。</li>
                <li>他の利用者の個人情報を収集したり、蓄積すること、又はこれらの行為をしようとする事。</li>
                <li>公序良俗に反する行為及びその他国内外の法令に反する行為。</li>
            </ul>
            <h3 class="h_bdr2">４.本サービスの中断、停止</h3>
            <ul class="pink_disc mb30">
                <li>当社は以下の何れかの事由に該当する場合、当社の独自の判断により、利用者に事前に通知することなく本サービスの一部もしくは全部を一時中断、又は停止することがあります。<br>
                    <ol class="normal">
                        <li>本サービスのための装置、システムの保守点検、更新を定期的にまたは緊急に行う場合。</li>
                        <li>火災、停電、天災などの不可抗力により、本サービスの提供が困難な場合。</li>
                        <li>第一種電気通信事業者の任務が提供されない場合。</li>
                        <li>その他、運用上あるいは技術上当社が本サービスの一時中断、もしくは停止が必要であるか、又は不測の事態により、当社が本サービスの提供が困難と判断した場合。</li>
                    </ol>
                </li>
                <li>当社は、本サービスの提供の一時中断、停止等の発生により、利用者または第三者が被ったいかなる不利益、損害について、理由を問わず一切の責任を負わないものとします。</li>
            </ul>
            <h3 class="h_bdr2">５.リンクの扱いについて</h3>
            <p>当ショップが提供する各種サービスの中から他のサイトへリンクをしたり、第三者が他のサイトへのリンクを提供している場合、当社は当ショップ以外のサイトについては、何ら責任は負いません。</p>
            <p>この場合、当該サイトに包括され、また当該サイト上で利用が可能となっているコンテンツ、広告、商品、サービスなどについても同様に一切責任を負いません。</p>
            <p class="mb30">当社は、それらのコンテンツ、広告、商品、サービスなどに起因または関連して生じた一切の損害についても賠償する責任は負いません。</p>
            <h3 class="h_bdr2">６.免責事項</h3>
            <ul class="pink_disc mb30">
                <li>
                    天災地変、法令の制定改廃、テロ、大幅な交通規制、公共サービスの停止、交通事故、公権力の行使に基づく処分、輸送機関の事故、労働争議、業務委託先の業務停止、その他当ショップの責めに帰すべからざる事情により、商品引渡しの遅滞または引渡しの不能を生じた場合、速やかに利用者にご通知いたします。ただし、これにより利用者が損害を被っても、当ショップは何らの賠償の責を負わないものとします。
                </li>
                <li>
                    当ショップまたは配送業者の過失により利用者に損害が生じた場合の当ショップの賠償責任は、当該過失行為から通常生ずべき実損害額の範囲内とし、かつ、いかなる場合でも当該注文にかかる商品等の代金額（消費税を含む）を上限とします。
                </li>
                <li>
                    お届けした商品等の不良その他の調査のために利用者から当ショップにお送りいただいた商品等に利用者または第三者に関するデータ・情報類（電磁的データ・情報類に限らない）が含まれており、なおかつ、当該データ・情報類が消去されたり、当該データ・情報類および当該商品等が紛失した場合であっても、当ショップおよび調査を行うメーカー・輸入代理店等の故意や重過失によるものではない限り、当ショップおよびメーカー・輸入代理店等は何ら責任を負わないものとします。なお、利用者は、データ・情報類のバックアップを行い、かつデータ・情報類を当ショップに送り、調査を行うことについて第三者からクレームが発生しないようにした上で、当ショップに商品等を送るものとします。
                </li>
                <li>利用者が当ショップを利用して、情報の閲覧やサービスの提供を受けるにあたっては、本規約を遵守し、法令上の義務に従った上、利用者の自己の責任において行うものとします。</li>
                <li>
                    当ショップは、情報やサービスの品質向上に努めておりますが、掲載されている商品等や情報、第三者のソフトウェアに関して、その安全性、正確性、確実性、有用性、合目的性、最新性、合法性、道徳性、パフォーマンスおよび結果、コンピュータウィルスに感染していないこと、提供するソフトウェアの不具合やバグが修正されること等のいかなる保証を行うものではありません。
                </li>
                <li>
                    当ショップサイトから他のWebサイトへリンクしている場合がありますが、それらのコンテンツ、広告、商品、サービスなどに起因または関連して生じた一切の損害（間接的であると直接的であるとを問いません）について賠償の責を負わないものとします。
                </li>
                <li>
                    当ショップでは、お客さまが個人情報を入力するにあたり、暗号化処理を行うなど適切なセキュリティ対策管理を実施しておりますが、これらの信頼性・妥当性・安全性について一切を保証するものではなく、当ショップを利用することによって生じるいかなる損害についても責任を負いません。
                </li>
                <li>インターネット上のトラブルによるご注文の未着、E-mailの送信不良、およびそれに伴う損害等については、当ショップは何らの責を負わないものとします。</li>
                <li>当ショップサイトを通常の利用方法以外で使用した結果の、どのような障害についても、当ショップは何らの責を負わないものとします。</li>
            </ul>
            <h3 class="h_bdr2">７.著作権</h3>
            <ul class="pink_disc mb30">
                <li>
                    利用者は、権利者の承諾を得ないで、いかなる方法においても当ショップを通じて提供されるいかなる情報も、著作権法で定める利用者個人の私的使用の範囲を超える複製、販売、出版、その他の用途に使用することはできないものとします。
                </li>
                <li>利用者は、権利者の承諾を得ないで、いかなる方法においても、第三者をして、当ショップを通じて提供されるいかなる情報も使用させたり、公開させたりすることはできないものとします。</li>
                <li>本条の規約に違反して問題が発生した場合、利用者は、自己の責任と費用において係る問題を解決するとともに、当社に何らの迷惑又は損害を与えないものとします。</li>
            </ul>
            <h3 class="h_bdr2">８.賠償責任</h3>
            <ul class="pink_disc mb30">
                <li>
                    本サービスの提供、遅滞、変更、中断、中止、停止、もしくは廃止、提供される情報等の流出もしくは焼失等、又はその他本サービスに関連して発生した利用者又は第三者の損害について、当社は一切の責任を負わないものとします。
                    但し、本サービスを通じて登録した個人情報については別途定める「12.個人情報の取扱い」に準じます。
                </li>
                <li>利用者が本サービス利用によって第三者に対して損害を与えた場合、利用者は自己の責任と費用をもって解決し、当社に損害を与えることのないものとします。</li>
                <li>利用者が本規約に反した行為、又は不正もしくは違法な行為によって当社に損害を与えた場合、当社は当該利用者に対して相応の損害賠償の請求ができるものとします。</li>
            </ul>
            <h3 class="h_bdr2">９.お届け日</h3>
            <ul class="pink_disc mb30">
                <li>通常一週間以内の発送でお届けします。<br>
                    一部お届けまでお時間のかかる商品につきましては、商品詳細ページに記載がございますのでご確認ください。
                </li>
                <li>
                    一度のご注文で異なる商品をご注文いただいた場合、同じ日に届かないことがございます。発送元が異なる場合がありますので、その場合には複数回のお届けとなります。また、お届け時間帯の指定はできませんので、予めご了承ください。
                </li>
            </ul>
            <h3 class="h_bdr2">１０.キャンセル／返品</h3>
            <ul class="pink_disc">
                <li>ご注文成立後、商品のお届け前にご注文のキャンセルをご希望される場合は、当ショップお問い合わせ窓口/お客さま総合相談室「穴吹コンタクトセンター」までご連絡ください。</li>
                <li>商品のお届け後に商品の返品をご希望される場合は、商品到着後10日以内に「お問い合わせ窓口」にご連絡いただき、当ショップが指定する返品場所に商品をご返送ください。</li>
                <li>
                    商品到着後11日以上経過した商品に関してはキャンセル・返品を受け付けることができません。また、商品到着後10日以内であっても下記商品についてはキャンセル・返品を受け付ける事ができませんので予めご了承ください。
                </li>
            </ul>
            <p class="mb0">※キャンセル・返品をお受けすることができない商品</p>
            <ol class="normal">
                <li>開封された商品およびご使用になられた商品</li>
                <li>利用者の責任でキズ、汚れが生じた商品</li>
                <li>飲食品</li>
                <li>通電後の電気製品</li>
                <li>セット商品の一部</li>
                <li>パッケージ（袋・ケース）のない商品</li>
                <li>オーダー商品・ネーム入り商品など、利用者のために加工された商品</li>
                <li>その他、商品詳細ページに返品できない旨が明記されている商品</li>
            </ol>
            <p>（詳細は、商品詳細ページにてご確認ください）</p>
            <p class="mb30">
                ※商品に明らかな欠陥がある場合または品違いの場合、返品・交換にかかる送料等は当ショップが負担致します。商品がお気に召さない場合等、利用者のご都合による返品・交換の場合は、送料等は利用者の負担とさせていただきますので、予めご了承ください。</p>
            <h3 class="h_bdr2">１１.商品の保証について</h3>
            <ul class="pink_disc mb30">
                <li>本規約に特別の定めがある場合を除き、当ショップは販売した商品の欠陥について、一切の保証をいたしません。</li>
                <li>
                    商品によってはメーカーが商品の品質等について直接保証を付している場合がございます。メーカーが直接付している保証の詳細については直接メーカーへお問合せください。尚、メーカーより保証を受ける際、当ショップからの「お買い上げ明細書」が必要となる場合がございますのでご注意ください。
                </li>
            </ul>
            <h3 class="h_bdr2">１２.個人情報の取扱い</h3>
            <p>1.商品ご購入のお申し込みの際に、利用者が当社に提供された氏名、住所、電話番号、メールアドレス等の個人情報は、当社が以下の目的で使用します。あらかじめご了承下さい。</p>
            <ul class="pink_disc">
                <li>各決済の「購入完了メール」等の送付</li>
                <li>商品のお届け</li>
                <li>保証及びアフターサービス（利用者からの問い合わせ等含む）の提供</li>
                <li>その他当ショップでの商品の売買に必要な行為</li>
                <li>情報分析（利用者層の分析など）</li>
                <li>商品のカスタマイズ</li>
                <li>新製品および新サービスに関する情報のご案内（ＤＭ／メールマガジン）ならびに利用者へのアンケートの実施等。なお、大京グループ各社との間で共同利用させていただく場合があります。</li>
		<li>詳しくは当社ホームページ<a href="https://www.anabuki-community.com/privacy/"target="_blank">「個人情報保護方針 」</a>の「4．個人情報の共同利用」をご確認ください。</li>
            </ul>
            <p>
                2.当社は利用者のプライバシー、個人情報の保護について最大限の注意を払っており、上記の個人情報を利用者の事前の同意なく第三者に開示、提示することはございません。ただし、以下の場合はこの限りではございませんので、あらかじめご了承ください。</p>
            <ul class="pink_disc">
                <li>商品発売元／配送業者に対する利用者の氏名および住所、連絡先の開示</li>
                <li>当社及び当社業務委託会社が、利用者に対する契約上の義務を履行する為に必要である場合</li>
                <li>法令に基づき、裁判所その他司法機関および行政機関から利用者に関する情報の開示を請求された場合</li>
            </ul>
            <p>利用者が自己の個人情報を提供するかどうかは、ご自身でご判断ください。ただし、必要な情報をご記入いただけなかった場合には、当社のサービスを受けられない可能性がありますので、予めご了承ください。</p>
            <ul class="pink_disc">
                <li>利用者が自己の個人情報について、開示・訂正・利用停止・消去等の要求がある場合には、速やかに事実関係等の確認を行い、適切に対応いたします。</li>
                <li>なお、当社の個人情報の取扱いについてのご意見、ご相談、苦情は所定の窓口にてお受けいたします。</li>
            </ul>
            <p class="mb30">※個人情報に関する管理部署およびお問合せ先<br>
                〒760-0071<br>
                香川県高松市藤塚町1-11-22<br>
                株式会社穴吹コミュニティ　業務統括部　お客さま相談窓口<br>
                TEL：087-012-3301<br>
                受付時間：平日9:30～17:00（但し、12:00～13:00を除く）</p>
            <h3 class="h_bdr2">１３.決済方法・引渡方法</h3>
            <ul class="pink_disc mb30">
                <li>お支払方法は、クレジットカードによる支払い、またはコンビニ決済(前払い)、銀行振込決済(前払い)がご利用いただけます。使用可能なクレジットカードの種類、ご利用可能なコンビニ 、決済方法は別途管理者が、定める以下 の通りとします。</li>
                <li>ご利用可能なクレジットカード <br>VISA、MasterCard、 JCB、AMERICAN EXPRESS、Diners Club<br>
                <li>ご利用可能なコンビニ <br>ローソン、ミニストップ、ファミリーマート、セイコーマート、デイリーヤマザキ <br>
                <li>ご利用可能な銀行 <br> 三菱UFJ銀行 、三井住友銀行<br>

                   <li>クレジットカードによるお支払いは以下をご確認のうえご利用ください。</li>
                        1.利用者は、商品購入代金等を、当社が承認したクレジットカード会社が発行するクレジットカードにより、クレジットカード会社の会員規約に基づき支払いを行うこととします。<br>
                        2.お支払いにご利用いただけるクレジットカードはご本人名義のカードのみとします。第三者の不正利用等に起因する不利益の一切は利用者に帰属し、 当社は損害賠償等の責任を一切負いません。<br>
                        3.お客さまと当該クレジットカード会社などの間で紛争が発生した場合、当該当事者双方で解決するものとし、当社は損害賠償等の責任を一切負いません。<br><br>
                    </ol>
                    <li>コンビニ決済(前払い)によるお支払いは以下をご確認のうえご利用ください。</li>
                        1.決済画面にてご希望のコンビニを選択の上ご注文いただきます。<br>
                        2.支払期限はご注文日を含め14日以内とさせていただきます。期限内に入金の確認ができない場合は注文自体が無効となります。予めご了承ください。<br><br>
                    </ol>
                   <li>銀行振込決済(前払い)によるお支払いは以下をご確認のうえご利用ください。</li>
                        1.商品購入代金を当社指定の金融機関にお振込みいただきます。<br>
                        2.振込手数料は利用者負担とさせていただきます。<br>
                        3.支払期限はご注文日を含め30日以内とさせていただきます。期限内に入金の確認ができない場合は注文自体が無効となります。予めご了承ください。<br><br>
                    </ol>
                    <li>送料は商品ごとに異なりますので、各商品の詳細ページにてご確認ください。
                     </li>
                     <li>利用者が注文画面にて決定された決済方法は、ご注文成立後に変更することはできません。予めご了承ください。
                     </li>
                </li>
            </ul>
            <h3 class="h_bdr2">１４.お願い</h3>
            <ul class="pink_disc mb30">
                <li>
                    ご注文内容の確認メールをご注文完了後に送信させていただきますので、必ずご確認ください。受信設定をされている場合は、「{{ BaseInfo.Email01 }}」アドレスのメールが受信できるよう設定をお願いします。
                </li>
                <li>商品につきましては輸入品をはじめ販売数量に限りがあるものがあり、在庫切れによりお届けできない場合がございます。予めご了承ください。</li>
                <li>都合により商品および価格を変更する場合がございます。</li>
                <li>お届けする商品の一部が、メーカーによる仕様変更等により、ホームページ上でご案内している商品と若干異なることがございます。</li>
                <li>ホームページ上に掲載されている商品写真は色調が実物を直接ご覧になった場合と異なることがございます。</li>
                <li>お申し込み商品が複数の種類の場合、商品ごとにお届けの時期が異なる場合がございます。</li>
                <li>当ショップよりお客さまへお届けする電子メールおよび利用者から当ショップ宛に送付される電子メールの不到着、文字化けに起因する問題に関しては、いかなる責任も負いかねますので予めご了承下さい。</li>
            </ul>
            <h3 class="h_bdr2">１５.規約の変更、承諾</h3>
            <p class="mb30">
                当ショップは、利用者への事前の通知なくインターネットショッピング・サービスの運営の諸条件、サービス内容、規約の変更を行うことが出来るものとし、利用者はこれを承諾します。この変更については、当ショップ上において随時利用者に発表するものとします。<br>
                本サービスに関し本規約とは別に追加の利用条件が設けられている場合には、利用者は当該利用条件を本規約と合わせて順守しなければならないものとします。また、追加の利用条件と本規約に異なる定めがある場合には、追加の利用条件が優先して適用されるものとします。
            </p>
            <h3 class="h_bdr2">１６.その他</h3>
            <p>
                インターネットショッピング・サービスの利用により、利用者がいかなる損害を受けた場合にも、当社は、損害発生の直接の原因となった取引に関し、利用者が実際に支払った代金相当額を超える損害を賠償する責任を負わないものとします。</p>
            <p class="mb30">また、本サービスについて争いが生じた場合には、高松地方裁判所を第一審の管轄裁判所とさせていただきます。</p>
            <h3 class="h_bdr2">１７.お問い合わせ先</h3>
            <p>お客さま総合相談室「穴吹コンタクトセンター」<br>
                電話：0120-365-384（24時間365日受付）<br>
                e-mail：<a href="mailto:{{ BaseInfo.Email02 }}">{{ BaseInfo.Email02 }}</a></p>
            <h3 class="h_bdr2">１８.運営責任者</h3>
            <p>運営会社：株式会社穴吹コミュニティ<br>
                運営責任者：河村　和浩<br>
                所在地：〒760-8520香川県高松市藤塚町1-11-22</p>
            <p style="text-align:right">以上<br>
                制定　2017年11月28日<br>改定　2019年1月15日</p>

            <!-- ご利用規約 -->
        </div>
    </div>
{% endblock %}