{% extends 'default_frame.twig' %}
{% block breadcrumb %}
    <nav>
        <div id="M_topicPathWrap">
            <ul id="M_topicPath1">
                <li><a href="{{ url('top') }}">トップ</a></li>
                <li>特定商取引法表示</li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <!-- 特定商取引法表示 -->
    <div class="section ordercontractSection">
        <h2 class="h_bdr mb15">
            <img src="{{ app.config.front_urlpath }}/img/html/ordercontract_h01.png" alt="Shop Information 特商法">
        </h2>

        {% if help.law_company is not empty %}
            <p>
                <img src="{{ app.config.front_urlpath }}/img/common/dot_red.gif">販売業者：{{ help.law_company }}
            </p>
        {% endif %}
        {% if help.law_manager is not empty %}
            <p>
                <img src="{{ app.config.front_urlpath }}/img/common/dot_red.gif">運営統括責任者： {{ help.law_manager }}
            </p>
        {% endif %}
        {% if help.law_zip01 is not empty %}
            <p>
                <img src="{{ app.config.front_urlpath }}/img/common/dot_red.gif">所在地：{{ help.law_pref|default('') }}{{ help.law_addr01 }}{{ help.law_addr02 }}
            </p>
            {#〒{{ help.law_zip01 }}-{{ help.law_zip02 }}#}
        {% endif %}


        {% if help.law_tel01 is not empty %}
            <p>
                <img src="{{ app.config.front_urlpath }}/img/common/dot_red.gif">
                電話番号：{{ help.law_tel01 }}-{{ help.law_tel02 }}-{{ help.law_tel03 }}（穴吹コンタクトセンター）※24時間365日受付
            </p>
        {% endif %}

        {% if help.law_fax01 is not empty and help.law_fax01 is not empty %}
            <p>
                <img src="{{ app.config.front_urlpath }}/img/common/dot_red.gif">
                FAX：{{ help.law_fax01 }}-{{ help.law_fax02 }}-{{ help.law_fax03 }}
            </p>
        {% endif %}


        {% if help.law_email is not empty %}
            <p>
                <img src="{{ app.config.front_urlpath }}/img/common/dot_red.gif">
                メールアドレス：<a href="mailto:{{ help.law_email }}">{{ help.law_email }}</a>
            </p>
        {% endif %}
        {% if help.law_url is not empty %}
            <p>
                <img src="{{ app.config.front_urlpath }}/img/common/dot_red.gif">
                URL：<a href="{{ help.law_url }}">{{ help.law_url }}</a>
            </p>
        {% endif %}
        {% if help.law_term01 is not empty %}
            {{ include(template_from_string(help.law_term01)) }}
        {% endif %}
        {% if help.law_term02 is not empty %}
            {{ include(template_from_string(help.law_term02)) }}
        {% endif %}
        {% if help.law_term03 is not empty %}
            {{ include(template_from_string(help.law_term03)) }}
        {% endif %}
        {% if help.law_term04 is not empty %}
            {{ include(template_from_string(help.law_term04)) }}
        {% endif %}
        {% if help.law_term05 is not empty %}
            {{ include(template_from_string(help.law_term05)) }}
        {% endif %}
        {% if help.law_term06 is not empty %}
            {{ include(template_from_string(help.law_term06)) }}
        {% endif %}

    </div>
{% endblock %}
