{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['product', 'product_csv_import'] %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}商品登録CSVアップロード{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/spin.min.js"></script>
    <script>
        $(function () {
            var opts = {
                lines: 13,
                length: 30,
                width: 2,
                radius: 12,
                corners: 1,
                rotate: 0,
                direction: 1,
                color: '#BBB',
                speed: 1,
                trail: 67,
                shadow: true,
                hwaccel: false,
                className: 'spinner',
                zIndex: 2e9,
                top: top
            };

            var ImageSpinner = new Spinner(opts).spin(document.getElementById('spinner'));
            ImageSpinner.stop();

            $('#upload-form').submit(function () {
                $('#upload-button').attr('disabled', 'disabled');
                $('#download-button').attr('disabled', 'disabled');
                ImageSpinner.spin(document.getElementById('spinner'));
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
    <div id="upload_wrap" class="row">
        <div id="upload_file_box" class="col-md-12">
            <form id="upload-form" class="form-inline" method="post"
                  action="{{ url('admin_product_csv_import') }}" {{ form_enctype(form) }}>
                {{ form_widget(form._token) }}
                <div id="upload_file_box__body" class="box">
                    <div id="upload_file_box__header" class="box-header">
                        <h3 class="box-title">商品登録CSV</h3>
                    </div><!-- /.box-header -->
                    <div id="upload_file_box__body_inner" class="box-body">
                        <div id="upload_file_box__upload_box" class="form-group">
                            <label class="col-sm-5 control-label">CSVファイル選択</label>
                            <div id="upload_file_box__import_file" class="col-sm-7">
                                {{ form_widget(form.import_file, {'attr': {'accept': 'text/csv,text/tsv'}}) }}
                                {{ form_errors(form.import_file) }}
                            </div>
                            {% for error in errors %}
                                <div id="upload_file_box__upload_error--{{ loop.index }}"
                                     class="text-danger">{{ error.message }}</div>
                            {% endfor %}
                        </div>
                        <div id="spinner"></div>
                    </div><!-- /.box-body -->
                    <div id="button_box__upload_button" class="box-footer text-center">
                        <button id="upload-button" type="submit" class="btn btn-primary btn-sm">CSVファイルのアップロード</button>
                    </div><!-- /.box-footer -->
                </div><!-- /.box -->
            </form>
        </div><!-- /.col -->
    </div>

    <div id="file_format" class="row">
        <div id="file_format_box" class="col-md-12">
            <div id="file_format_box__body" class="box">
                <div id="file_format_box__head" class="box-header">
                    <a href="{{ url('admin_product_csv_template', {'type': 'product'}) }}" id="download-button"
                       class="btn btn-default pull-right btn-xs">雛形ファイルダウンロード</a>
                    <h3 class="box-title">商品登録CSVファイルフォーマット</h3>
                </div><!-- /.box-header -->
                <div id="file_format_box__body_inner" class="box-body no-padding">
                    <div id="file_format_box__list_box" class="table_list">
                        <div id="file_format_box__list_box_body"
                             class="table-responsive no-border table-menu table-responsive-overflow">
                            <table class="table table-striped">
                                <thead>
                                <tr id="file_format_box__header" class="text-nowrap">
                                    {% for header in headers|keys %}
                                        <th id="file_format_box__header--{{ loop.index }}">{{ header }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr id="file_format_box__list" class="text-nowrap">
                                    <td id="file_format_box__id">
                                        ・EC-CUBEで管理しているID<br>・新規登録時は未設定<br>・既存商品の更新は商品IDを設定<br>・新規登録時は空で登録すると自動で商品IDが付与されます。
                                    </td>
                                    <td id="file_format_box__status"><strong class="text-danger">必須</strong> <br>非公開:2<br>公開:1<br>・1ショップ以上で公開する商品の場合は「1」を設定 <br>
                                        ・「2」を設定するとショップごとの公開設定に関わらず全ショップで非公開となる。</td>
                                    <td id="file_format_box__status_shop1"><strong class="text-danger">必須</strong> <br>非公開:2<br>公開:1</td>
                                    <td id="file_format_box__status_shop2"><strong class="text-danger">必須</strong> <br>非公開:2<br>公開:1</td>
                                    <td id="file_format_box__status_shop3"><strong class="text-danger">必須</strong> <br>非公開:2<br>公開:1</td>
                                    <td id="file_format_box__name"><strong class="text-danger">必須</strong></td>
                                    <td id="file_format_box__shop_agency"></td>
                                    <td id="file_format_box__shop_fine_passport">非対象:0<br>対象:1</td>
                                    <td id="file_format_box__shop_escort">非対象:0<br>対象:1</td>
                                    <td id="file_format_box__shop_maker_id">・IDはマスターデータ管理「mtb_maker」を参照。</td>
                                    <td id="file_format_box__shop_memo">・お客さま側への表示はされない内部用</td>
                                    <td id="file_format_box__info">・お客さま側には表示されない項目です。</td>
                                    <td id="file_format_box__detail">・商品詳細説明HTMLを設定</td>
                                    <td id="file_format_box__search_word">・検索ワードをカンマ区切りで「"」で囲んで設定</td>
                                    <td id="file_format_box__free"></td>
                                    <td id="file_format_box__delete_flg">・削除しない商品の場合は0を登録</td>
                                    <td id="file_format_box__image">・複数の画像を設定する場合は画像ファイル名をカンマ区切りで「"」で囲んで設定</td>
                                    <td id="file_format_box__category">※対象ショップごとにカテゴリIDは異なります<br>
                                        ・複数のカテゴリを設定する場合は商品カテゴリIDをカンマ区切りで「"」で囲んで設定 <br>
                                        ・カテゴリIDは商品管理＞カテゴリ登録を参照</td>
                                    <td id="file_format_box__tag">・複数タグを設定したい場合はタグIDをカンマ区切りで「"」で囲んで設定 <br>
                                        ・タグIDはマスターデータ管理「mtb_tag」を参照</td>
                                    <td id="file_format_box__type_id"><strong class="text-danger">必須</strong> <br>
                                        ・IDはマスタデータ管理「mtb_product_type」を参照</td>
                                    <td id="file_format_box__class_1">・オプションが必要な商品は設定 <br>
                                        ・IDはマスターデータ管理「dtb_class_category」を参照</td>
                                    <td id="file_format_box__class_2">・オプションが必要な商品は設定 <br>
                                        ・IDはマスターデータ管理「dtb_class_category」を参照</td>
                                    <td id="file_format_box__date">・注文日から「2週間以降」にお届け可能な商品の場合は、ID「5」を設定</td>
                                    <td id="file_format_box__code">・独自商品コードを設定</td>
                                    <td id="file_format_box__stock">※在庫数無制限フラグが0の場合 <br>
                                        ・在庫数を制限にしたい場合は制限数を0以上の数値を設定</td>
                                    <td id="file_format_box__stock_nolimit_flg"><strong class="text-danger">必須</strong><br>・在庫数を無制限に設定したい場合「1」を設定</td>
                                    <td id="file_format_box__limit">・1回の注文時の販売数量を制限したい場合は、0以上の数値を設定 <br>
                                        ・例）おひとりさま１個まで</td>
                                    <td id="file_format_box__price_2">0以上の数値を設定</td>
                                    <td id="file_format_box__price_1"><strong class="text-danger">必須</strong><br>・EC-CUBEの仕様で必須項目になりますが、お客さま側には表示されない価格</td>
                                    <td id="file_format_box__price_shop01">・0以上の数値を設定</td>
                                    <td id="file_format_box__price_shop02">・0以上の数値を設定</td>
                                    <td id="file_format_box__staff_price">・0以上の数値を設定</td>

                                    <td id="file_format_box__delivery_fee">・商品種別で送料を設定しているため空で設定してください。</td>
                                    <td>
                                        ・複数の販売不可事業所を設定する場合は事業所IDをカンマ区切りで「"」で囲んで設定</td>
                                    <td id="file_format_box__category_delete_flg">・商品規格IDがこのCSV登録で同時に作成されます。<br>
                                        ・商品規格IDを削除する場合は「1」、削除しない場合は「0」を設定<br>
                                        ※規格（オプション）がない商品でも商品IDと商品規格IDは１:１以上となることが必須なため、通常は「0」を設定。</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>

{% endblock %}
