{% extends 'default_frame.twig' %}

{% set menus = ['product', 'admin_product_maker'] %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}メーカー編集{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-title box-title-category">
                        メーカー一覧
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-9">
                            <form role="form" class="form-horizontal" name="form1" method="post"
                                  action="{{ url('admin_product_maker') }}">
                                <div class="form-group">
                                    <div class="col-md-12 form-inline">
                                        <input type="hidden" name="id" value="{{ id }}">
                                        <input type="hidden" name="mode" value="{{ id ? 'edit' : 'create' }}">
                                        <input type="text" name="name" required="required"
                                               value="{{ TargetMaker.Name }}"
                                               class="form-control">
                                        <button class="btn btn-default btn-sm" type="submit">{{ id ? 'メーカー編集' : 'メーカー作成' }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered" width="100%">
                                {% for Maker in makers %}

                                    <tr>
                                        <td>{{ Maker.Name }}</td>
                                        <td width="100" class="text-center">
                                            <a href="{{ url('admin_product_maker_edit', {'id' : Maker.Id}) }}"
                                               class="btn btn-xs btn-default">編集</a>
                                            <a href="{{ url('admin_product_maker_delete', {'id' : Maker.Id}) }}" {{ csrf_token_for_anchor() }}
                                               data-method="delete" data-message="メーカーを削除してもよろしいですか？"
                                               class="btn btn-xs btn-danger">削除</a>

                                        </td>
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
