{% extends 'default_frame.twig' %}

{% set menus = ['product', 'product_edit'] %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}販売不可事業所設定{% endblock %}

{% block javascript %}
    <script>
        $(function () {

            function add(event) {
                $('#' + event.data.from + ' option:selected')
                    .appendTo($('#' + event.data.to))
                    .prop('selected', false);
            }

            function addAll(event) {
                $('#' + event.data.from + ' option').each(function () {
                    $(this).appendTo($('#' + event.data.to));
                    $(this).prop('selected', false);// 選択状態の解除
                });
            }

            $('#add').on('click', {from: 'csv-not-output', to: 'csv-output'}, add);
            $('#add-all').on('click', {from: 'csv-not-output', to: 'csv-output'}, addAll);
            $('#remove').on('click', {from: 'csv-output', to: 'csv-not-output'}, add);
            $('#remove-all').on('click', {from: 'csv-output', to: 'csv-not-output'}, addAll);

            $('.move').click(function () {
                var $op = $('#csv-output option:selected');
                var val = $(this).val();
                if ($op.length) {
                    val == 'up' ? $op.first().prev().before($op) : $op.last().next().after($op);
                }
            });

            $('.move-most').click(function () {
                var $op = $('#csv-output option:selected');
                var val = $(this).val();
                if ($op.length) {
                    val == 'top' ? $op.prependTo('#csv-output') : $op.appendTo('#csv-output');
                }
            });

            $('#csv-type').on('change', function () {
                var id = $(this).val();
                var href = '{{ url('admin_setting_shop_csv') }}' + '/' + id;
                location.href = href;
                return false;
            });

            $('#csv-form').submit(function () {
                $('#csv-not-output').children().prop('selected', true);
                $('#csv-output').children().prop('selected', true);
            })
        });
    </script>
{% endblock javascript %}

{% block main %}
    <div class="row" id="aside_wrap">
        <form id="csv-form" method="post" action="?">
            <div id="csv_edit_box" class="col-md-9">
                <div id="csv_edit_box__body" class="box">
                    <div id="csv_edit_box__header" class="box-header">
                    </div>
                    <div id="csv_edit_box__body_inner" class="box-body no-border row">
                        <div id="csv_edit_box__csv_not_output" class="col-md-4 col-xs-4">
                            <p>販売事業所</p>
                            <select id="csv-not-output"
                                    name="offices[]"
                                    size="30" class="form-control"
                                    multiple="multiple">
                                {% for Office in  Offices %}
                                    <option value="{{ Office.OfficeNo }}">{{ Office.OfficeName }}</option>
                                {% endfor %}

                            </select>
                        </div><!-- /.col -->
                        <div id="csv_edit_box__button_menu" class="col-md-2 col-xs-2">
                            <div id="csv_edit_box__button_area" class="text-center" style="padding-top: 230px;">
                                <p>
                                    <button type="button" id="add" class="btn btn-default"><span
                                                class="glyphicon glyphicon-step-forward"></span></button>
                                </p>
                                <p>
                                    <button type="button" id="add-all" class="btn btn-default"><span
                                                class="glyphicon glyphicon-fast-forward"></span></button>
                                </p>
                                <p>
                                    <button type="button" id="remove" class="btn btn-default"><span
                                                class="glyphicon glyphicon-step-backward"></span></button>
                                </p>
                                <p>
                                    <button type="button" id="remove-all" class="btn btn-default"><span
                                                class="glyphicon glyphicon-fast-backward"></span></button>
                                </p>
                            </div>
                        </div><!-- /.col -->
                        <div id="csv_edit_output_box" class="col-md-4 col-xs-4">
                            <p>販売不可事業所</p>
                            <select id="csv-output" name="ng_offices[]" size="30" class="form-control"
                                    multiple="multiple">
                                {% for ProductUnsoldableOffice in  Product.ProductUnsoldableOffices %}
                                    <option value="{{ ProductUnsoldableOffice.Office.OfficeNo }}">{{ ProductUnsoldableOffice.Office.OfficeName }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.col -->
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="aside_column">
                <div id="common_box" class="col_inner">
                    <div id="common_button_box" class="box no-header">
                        <div id="common_button_box__body" class="box-body">
                            <div id="common_button_box__confirm_button" class="box-body">
                                <div class="row text-center">
                                    <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                        <button class="btn btn-primary btn-block btn-lg" type="submit">設定</button>
                                    </div>
                                </div>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>
            </div><!-- /.col -->
            <p class="text-center"><a href="{{ url('admin_product_product_edit', {id : Product.id}) }}">商品登録に戻る</a></p>
        </form>
    </div>
{% endblock %}
