{#
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
#}
{% extends 'default_frame.twig' %}

{% set menus = ['content', 'block'] %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}ブロック管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <div class="row" id="aside_wrap">
        <form name="content_block_form" id="content_block_form" method="post" action="
{%- if block_id is not null %}{{ url('admin_content_block_edit', {id: block_id}) }}{% else %}{{ url('admin_content_block_new') }}{% endif -%}">
            {{ form_widget(form._token) }}
            {{ form_widget(form.id) }}
            {{ form_widget(form.DeviceType, { attr : { style : 'display: none;' } } ) }}
            <div id="detail_wrap" class="col-md-9">
                <div id="detail_box" class="box form-horizontal">
                    <div id="detail_box__header" class="box-header">
                        <h3 class="box-title">ブロック編集</h3>
                    </div>
                    <!-- /.box-header -->
                    <div id="detail_box__body" class="box-body">

                        <div id="detail_box__name" class="form-group">
                            {{ form_label(form.name) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.name,{id: "UrlInput"}) }}
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                        <div class="form-group {{ editable_share_flg ? '' : 'hidden' }}">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.share_flg) }}
                                {{ form_errors(form.share_flg) }}
                            </div>
                        </div>

                        <div id="detail_box__file_name" class="form-group">
                            {{ form_label(form.file_name) }}
                            <div class="col-sm-9 col-lg-10 padT07">
                                {% if deletable %}
                                    {{ form_widget(form.file_name) }}.twig
                                {% else %}
                                    {{ form.file_name.vars.value }}.twig
                                    {{ form_widget(form.file_name, { type : 'hidden' } ) }}
                                {% endif %}
                                {{ form_errors(form.file_name) }}
                            </div>
                        </div>

                        <div id="detail_box__block_html" class="form-group">
                            {{ form_label(form.block_html) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.block_html, { attr : { 'rows' : 15, style : 'font-size:12px' } }) }}
                                {{ form_errors(form.block_html) }}
                            </div>
                        </div>

                        <div class="extra-form">
                            {% for f in form.getIterator %}
                                {% if f.vars.name matches '[^plg*]' %}
                                    {{ form_row(f) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div id="detail_box__footer" class="row hidden-xs hidden-sm">
                    <div id="detail_box__back_button"
                         class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                        <p><a href="{{ url('admin_content_block') }}">戻る</a></p>
                    </div>
                </div>

            </div>
            <!-- /.col -->
            <div class="col-md-3" id="aside_column">
                <div id="common_box" class="col_inner">
                    <div id="common_button_box" class="box no-header">
                        <div id="common_button_box__body" class="box-body">
                            <div id="common_button_box__insert_button" class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" type="submit">登録</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.col -->
        </form>
    </div>

{% endblock %}
