{#
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
#}
{% extends 'default_frame.twig' %}

{% set menus = ['content', 'page'] %}

{% block title %}コンテンツ管理{% endblock %}
{% block sub_title %}ページ管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#FileNameInput").val($("#UrlInput").val());
            $("#FileName").text($("#UrlInput").val());
            $("#UrlInput").keyup(function () {
                $("#FileNameInput").val($(this).val());
                $("#FileName").text($(this).val());
            })
        })
    </script>

    <script>
        {% if PageLayout.Id is null %}
        $(document).ready(function () {
            if (!$("#main_edit_start_date_time_hour").val()) {
                $("#main_edit_start_date_time_hour").val(0)
            }
            if (!$("#main_edit_start_date_time_minute").val()) {
                $("#main_edit_start_date_time_minute").val(0)
            }
            if (!$("#main_edit_end_date_time_hour").val()) {
                $("#main_edit_end_date_time_hour").val(23)
            }
            if (!$("#main_edit_end_date_time_minute").val()) {
                $("#main_edit_end_date_time_minute").val(59)
            }
        });
        {% endif %}
    </script>

{% endblock %}
{% block main %}
    <div class="row" id="aside_wrap">
        <form role="form" name="content_page_form" id="content_page_form" method="post"
              action="{%- if page_id is not null %}{{ url('admin_content_page_edit', {id: page_id}) }}{% else %}{{ url('admin_content_page_new') }}{% endif -%}">
            {{ form_widget(form._token) }}
            {{ form_widget(form.id) }}
            {{ form_widget(form.DeviceType, { attr : { style : 'display: none;' } } ) }}
            <div id="detail" class="col-md-9">
                <div id="detail_box" class="box form-horizontal">
                    <div id="detail_box__header" class="box-header">
                        <h3 class="box-title">
                            ページ詳細編集{{ PageLayout.share_flg ?'<span class="text-danger">【共通ページ】</span>'|raw:'' }}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div id="detail_box__body" class="box-body">

                        <div id="detail_box__name" class="form-group">
                            {{ form_label(form.name) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.name) }}
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                        <div class="form-group {{ editable_share_flg ? '' : 'hidden' }}">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.share_flg) }}
                                {{ form_errors(form.share_flg) }}
                            </div>
                        </div>

                        <div id="detail_box__url" class="form-group word-break">
                            {{ form_label(form.url) }}
                            <div class="col-sm-9 col-lg-10 form-inline">
                                {% if editable %}
                                    {#{{ url('top') }}#}http://{{ BaseInfo.ShopDomain }}/{{ app.config.user_data_route }}/{{ form_widget(form.url,{id: "UrlInput"}) }}
                                {% else %}
                                    {{ app.request.schemeAndHttpHost }}{{ app.request.basePath }}{{ app.routes.get(form.url.vars.value).path }}
                                    {{ form_widget(form.url, { type : 'hidden'} ) }}
                                {% endif %}
                                {{ form_errors(form.url) }}
                            </div>
                        </div>
                        <div id="detail_box__file_name" class="form-group word-break">
                            {{ form_label(form.file_name) }}
                            <div class="col-sm-9 col-lg-10 form-inline">
                                {% if editable %}
                                    {{ template_path }}/<span id="FileName">{{ form.file_name.vars.value }}</span>.twig
                                    {{ form_widget(form.file_name, { type : 'hidden',id :'FileNameInput' }) }}
                                {% else %}
                                    {{ template_path }}/{{ form.file_name.vars.value }}.twig
                                    {{ form_widget(form.file_name, { type : 'hidden' } ) }}
                                {% endif %}
                                {{ form_errors(form.file_name) }}
                            </div>
                        </div>
                        {% if PageLayout.edit_flg == 0 %}
                            <div id="detail_box__name" class="form-group">
                                {{ form_label(form.start_date) }}
                                <div class="col-sm-9 col-lg-10">
                                    {{ form_widget(form.start_date) }}
                                    {{ form_errors(form.start_date) }}
                                </div>
                            </div>
                            <div id="detail_box__name" class="form-group">
                                {{ form_label(form.end_date) }}
                                <div class="col-sm-9 col-lg-10">
                                    {{ form_widget(form.end_date) }}
                                    {{ form_errors(form.end_date) }}
                                </div>
                            </div>
                        {% endif %}
                        <div id="detail_box__tpl_data" class="form-group">
                            {{ form_label(form.tpl_data) }}
                            <div class="col-sm-9 col-lg-10">
                                {{ form_widget(form.tpl_data, { attr : { 'rows' : 15, style : 'font-size:12px' } }) }}
                                {{ form_errors(form.tpl_data) }}
                            </div>
                        </div>

                        <div class="extra-form">
                            {% for f in form.getIterator %}
                                {% if f.vars.name matches '[^plg*]' %}
                                    {{ form_row(f) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="detail_meta_box" class="box form-horizontal hidden">
                    <div id="detail_meta_box__header" class="box-header">
                        <h3 class="box-title">
                            meta設定
                        </h3>
                    </div>
                    <!-- /.box-header -->

                    <div id="detail_meta_box__body" class="box-body">
                        {{ form_row(form.author) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.keyword) }}
                        {{ form_row(form.meta_robots) }}
                        {{ form_row(form.meta_tags, { attr : { placeholder : '複数のmetaタグを入力可能'}}) }}
                    </div>
                </div>

                <div id="detail_box__footer" class="row hidden-xs hidden-sm">
                    <div id="detail_box__back_button"
                         class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                        <p><a href="{{ url('admin_content_page') }}">戻る</a></p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-3" id="aside_column">
                <div id="common_box" class="col_inner">
                    <div id="common_button_box" class="box no-header">
                        <div id="common_button_box__body" class="box-body">
                            <div id="common_button_box__insert_button" class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" type="submit">登録</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.col -->
        </form>
    </div>
{% endblock %}
